<div class="animated fadeIn" *ngIf="!loading">
  <form class="row" [formGroup]="editForm" (ngSubmit)="updateItem(editForm.value)">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">{{isNew ? 'New Size' : 'Edit'}}</div>
        <div class="card-block">
          <bx-form-field label="Category">
            <bx-category-select category="58ac1318dc142c612ab61fad" [nested]="true" [parentForm]="editForm"
              [item]="item" field="category"></bx-category-select>
          </bx-form-field>
          <bx-form-field label="Style">
            <select class="form-control" formControlName="style">
              <option [value]="style.value" *ngFor="let style of getStyles()">{{style.value}}</option>
            </select>
          </bx-form-field>
          <bx-form-field label="Size">
            <input type="text" class="form-control" placeholder="Size" formControlName="size" bosInputRef>
          </bx-form-field>
          <bx-form-field label="Jean Size">
            <input type="text" class="form-control" placeholder="Jean Size" formControlName="jean_size" bosInputRef>
          </bx-form-field>
          <bx-form-field label="Child Size">
            <input type="text" class="form-control" placeholder="Child Size" formControlName="child_size" bosInputRef>
          </bx-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <bx-single-image-upload [config]="dropzone_config" [image]="item.image" (imageAdded)="imageAdded($event)"
        (imageRemoved)="imageRemoved()"></bx-single-image-upload>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!editForm.valid">{{isNew ? 'Create' : 'Update'}}</button>
      </div>
    </div>
  </form>
</div>
