@import 'variables';
@import 'mixins';

:host {
  background-color: $verylightgrey;
  height: 25px;
  padding: 0 15px;
  display: flex;
  .help-menu {
    margin-left: auto;
    flex: 0 0 auto;
    display: flex;
  }
  h4 {
    @include font-size(14, 25);
    font-weight: normal;
    margin: 0;
  }
  h4:after {
    content: '|';
    padding: 0 0.5rem;
  }
  h4:last-child:after {
    content: '';
    padding: 0;
  }
}

.btn-chat {
  @include font-size(14, 25);
  font-weight: normal;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $displayFont;
  color: $green;
}
