@import 'variables';

.usa-shipping,
.youth-sizing,
.gift-voucher {
  padding: 1em;
  text-align: center;
  display: flex;
  border: 1px solid $black;
  font-size: 1em;
  background-color: white;
  h2 {
    color: $black;
    font-size: 1.8em;
  }

  .sidebar-content {
    align-self: center;
    margin: 0 auto;
  }
}

.usa-shipping,
.gift-voucher {
  border-color: $red;
  margin-bottom: 1em;

  svg {
    fill: $red;
  }

  h2 {
    color: $red;
    margin-top: 0.8em;
  }

  h4 {
    color: $red;
    font-size: 1em;
    letter-spacing: 2px;
    margin-top: 0.8em;
    line-height: 1.2;
  }

  p {
    color: $black;
    font-size: 0.8em;
  }
}

.youth-sizing {
  h4 {
    color: $black;
    font-size: 1em;
    letter-spacing: 2px;
    margin-top: 0.8em;
    line-height: 1.2;
  }
}

.sidebar-content {
  width: 100%;
}
