<header class="page-header">
  <h1>Newsletter</h1>
</header>
<div class="page-body">
  <form [formGroup]="mailchimpForm" (ngSubmit)="signup(mailchimpForm.value)">
    <mat-form-field>
      <input type="email" matInput placeholder="Email" formControlName="email" autocomplete="email"
        [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="mailchimpForm.get('email').hasError('required')">
        This field is required
      </mat-error>
      <mat-error
        *ngIf="mailchimpForm.get('email').hasError('email') && !mailchimpForm.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <button class="btn btn-solid btn-center" [disabled]="!mailchimpForm.valid">Submit</button>
  </form>
  <p><small>By providing your email address you consent to receiving some marketing emails from us.</small></p>
</div>
