<dot-breadcrumbs [allowBootstrap]="true"></dot-breadcrumbs>
<form class="dashboard-form" [formGroup]="editForm" (ngSubmit)="update(editForm.get('passwords').get('password').value)">
  <h2>Update password</h2>
  <div class="content" formGroupName="passwords">
    <mat-form-field appearance="standard">
      <mat-label>New Password</mat-label>
      <input type="password" matInput placeholder="New Password" formControlName="password" [errorStateMatcher]="matcher"
        required>
      <mat-error *ngIf="editForm.get('passwords').get('password').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword"
        [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="editForm.get('passwords').get('confirmPassword').hasError('required')">
        This field is required
      </mat-error>
      <mat-error *ngIf="editForm.get('passwords').get('confirmPassword').hasError('MatchPassword')">
        Passwords must match
      </mat-error>
    </mat-form-field>
  </div>
  <button class="btn btn-success" type="submit" [disabled]="!editForm.valid">Update Account</button>
</form>
