<form [formGroup]="commentForm" (ngSubmit)="addComment(commentForm.value)">
  <div class="form-group">
    <angular-tinymce formControlName='comment' [settings]="tinymce"></angular-tinymce>
  </div>
  <bx-form-field label="Assign to item" *ngIf="!line_item">
    <ng-select [items]="order.items" [clearable]="false" bindValue="_id" placeholder="No item selected" formControlName="line_item">
      <ng-template ng-label-tmp let-item="item">
        <span *ngIf="item?.custom_product">
          <b>{{item.custom_product.title}}</b> - {{item.custom_product.code}}
        </span>
        <span *ngIf="!item?.custom_product">
          <b>{{item.product_variation.title}}</b> - {{item.product_variation.sku}}
        </span>
      </ng-template>
      <ng-template ng-option-tmp let-item="item">
        <span *ngIf="item?.custom_product">
          <div>{{item.custom_product.title}}</div>
          <small>
            <b>Code:</b> {{item.custom_product.code}}</small>
        </span>
        <span *ngIf="!item?.custom_product">
          <div>{{item?.product_variation.title}}</div>
          <small>
            <b>SKU:</b> {{item.product_variation.sku}}</small>
        </span>
      </ng-template>
    </ng-select>
  </bx-form-field>
  <button class="btn btn-success" [disabled]="!commentForm.valid">Add comment</button>
</form>
<ul class="list-group list-group-flush mt-5">
  <li class="list-group-item" *ngFor="let comment of comments$ | async">
    <span [innerHTML]="comment.comment"></span>
    <p *ngIf="comment.owner">
      <span *ngIf="comment.owner.firstName || comment.owner.lastName; else emailOnly">
        <strong>{{comment.owner.firstName}} {{comment.owner.lastName}} - {{comment.createdAt | date:'dd/MM/yyyy HH:mm':'Z'}}</strong>
      </span>
      <ng-template #emailOnly>
        <strong>{{comment.owner.email}} - {{comment.createdAt | date:'dd/MM/yyyy HH:mm':'Z'}}</strong>
      </ng-template>
    </p>
    <span class="badge badge-pill badge-primary" *ngIf="comment.line_item && !line_item">
      <span *ngIf="comment.line_item_data.custom_product">
        <b>{{comment.line_item_data.custom_product.title}}</b> - {{comment.line_item_data.custom_product.code}}
      </span>
      <span *ngIf="!comment.line_item_data.custom_product && comment.line_item_data.product_variation">
        <b>{{comment.line_item_data.product_variation.title}}</b> - {{comment.line_item_data.product_variation.sku}}
      </span>
    </span>
  </li>
</ul>
