<div class="animated fadeIn" *ngIf="!loading">
  <form class="row" [formGroup]="editForm" (ngSubmit)="updateItem(editForm.value)">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">{{isNew ? 'New Ready Made Setting' : 'Edit New Ready Made Setting'}}</div>
        <div class="card-block">
          <bx-form-field label="Category">
            <bx-category-select category="58ac1318dc142c612ab61fad" [nested]="false" parent="58ac133edc142c612ab61fb0"
              [parentForm]="editForm" [item]="item" field="product_type"></bx-category-select>
          </bx-form-field>
        </div>
      </div>
      <div class="card" formArrayName="names">
        <div class="card-header">Names
          <div class="card-actions">
            <a (click)="addName()">
              <i class="icon-plus icons font-xl"></i>
            </a>
          </div>
        </div>
        <div class="card-block">
          <div *ngFor="let name of editForm.get('names')['controls']; let i=index" [attr.data-index]="i"
            [formGroupName]="i">
            <bx-form-field label="Title">
              <input type="text" class="form-control" placeholder="Title" formControlName="title">
            </bx-form-field>
            <bx-form-field label="Price">
              <input type="text" class="form-control" placeholder="Price" formControlName="price">
            </bx-form-field>
          </div>
        </div>
      </div>
      <div class="card" formArrayName="flags">
        <div class="card-header">Flags
          <div class="card-actions">
            <a (click)="addFlag()">
              <i class="icon-plus icons font-xl"></i>
            </a>
          </div>
        </div>
        <div class="card-block">
          <div *ngFor="let flag of editForm.get('flags')['controls']; let i=index" [attr.data-index]="i"
            [formGroupName]="i">
            <bx-form-field label="Title">
              <input type="text" class="form-control" placeholder="Title" formControlName="title">
            </bx-form-field>
            <bx-form-field label="Price">
              <input type="text" class="form-control" placeholder="Price" formControlName="price">
            </bx-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!editForm.valid">{{isNew ? 'Create' : 'Update'}}</button>
      </div>
    </div>
  </form>
</div>
