@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import 'node_modules/bootstrap/scss/mixins/_grid';

@import 'variables';
@import 'mixins';

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1200px
);

:host {
  display: block;
  padding: 15px;
  @include make-container();
  @include make-container-max-widths($container-max-widths);
  @include media-breakpoint-up(sm) {
    padding: 2rem 15px;
  }
}

.dashboard {
  @include make-row();
}

.toolbar {
  @include make-col-ready();
  @include media-breakpoint-up(xs) {
    @include make-col(12);
  }
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  .btn {
    width: auto;
    margin-left: auto;
    margin-bottom: 0;
  }
}

.dashboard-item-container {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include make-col-ready();
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
  padding: 0 15px;
  margin: 0 0 30px;
}

.dashboard-item {
  background-color: white;
  padding: 1rem;
  .footer {
    .btn-text {
      padding: 0;
      margin: auto 0.5rem 0 0;
    }
  }
}
