<div class="animated fadeIn" *ngIf="!loading">
  <form
    class="row"
    [formGroup]="editForm"
    (ngSubmit)="updateItem(editForm.value)"
  >
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          {{
            isNew ? 'New Gallery' : 'Edit ' + editForm.controls['title'].value
          }}
        </div>
        <div class="card-block">
          <bx-form-field label="Title">
            <input
              type="text"
              class="form-control"
              placeholder="Title"
              formControlName="title"
            />
          </bx-form-field>
          <bx-form-field label="Link Design">
            <ng-select
              [items]="dropDownLineItems"
              bindLabel="title"
              [typeahead]="lineItemTypeahead"
              placeholder="No design selected"
              formControlName="design"
            >
              <ng-template ng-label-tmp let-item="item">
                <img
                  [bxLazysizes]="item.custom_design.image.key"
                  *ngIf="item.custom_design"
                />
                <b>{{ item.custom_product.title }}</b>
                {{ item.custom_product.code }}
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                <img
                  [bxLazysizes]="item.custom_design.image.key"
                  *ngIf="item.custom_design"
                />
                <div>{{ item.custom_product.title }}</div>
                <small>{{ item.custom_product.code }}</small>
              </ng-template>
            </ng-select>
          </bx-form-field>
          <bx-form-field label="Product">
            <ng-select
              [items]="dropDownProducts"
              [clearable]="false"
              bindLabel="title"
              [typeahead]="productTypeahead"
              placeholder="No product selected"
              formControlName="product"
            >
              <ng-template ng-label-tmp let-item="item">
                <b>{{ item.title }}</b> {{ item.code }}
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                <div>{{ item.title }}</div>
                <div *ngIf="item.category">{{ item.category.title }}</div>
                <small>{{ item.code }}</small>
              </ng-template>
            </ng-select>
          </bx-form-field>
          <bx-form-field label="Materials">
            <ng-select
              [items]="dropDownMaterials"
              [multiple]="true"
              bindLabel="title"
              [typeahead]="materialTypeahead"
              placeholder="No materials selected"
              formControlName="materials"
              [groupBy]="groupByMaterialType"
            >
              <ng-template ng-label-tmp let-item="item">
                <b>{{ item.title }}</b>
                <span *ngIf="item.materialType">
                  - {{ item.materialType.title }}</span
                >
              </ng-template>
              <ng-template ng-option-tmp let-item="item">
                <div>{{ item.title }}</div>
                <div *ngIf="item.materialType">
                  {{ item.materialType.title }}
                </div>
              </ng-template>
            </ng-select>
          </bx-form-field>
          <bx-form-field label="Category">
            <bx-category-select
              category="58bd3f94bbd0d3261acbb618"
              [nested]="true"
              [parentForm]="editForm"
              [item]="item"
              field="category"
            ></bx-category-select>
          </bx-form-field>
          <bx-form-field label="Description">
            <angular-tinymce
              formControlName="description"
              [settings]="tinymce"
            ></angular-tinymce>
          </bx-form-field>
        </div>
      </div>
      <bx-multi-image-upload
        title="Gallery Images"
        [config]="dropzone_config"
        [images]="item.images"
      ></bx-multi-image-upload>
      <bx-publishing-form
        [parentForm]="editForm"
        [item]="item"
        [hasSlug]="!isNew"
        [endpoint]="'gallery'"
      ></bx-publishing-form>
      <bx-seo-form [parentForm]="editForm" [item]="item"></bx-seo-form>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!editForm.valid">
          {{ isNew ? 'Create' : 'Update' }}
        </button>
      </div>
    </div>
  </form>
</div>
