<dot-breadcrumbs [allowBootstrap]="true"></dot-breadcrumbs>
<div class="dashboard">
  <a [routerLink]="['add']" class="dashboard-item-container" bx-dashboard-add title="Address"></a>
  <div class="dashboard-item-container" *ngFor="let address of addresses$ | async">
    <div class="dashboard-item">
      <div class="content">
        <h5 *ngIf="address.default">Default address</h5>
        <p>
          <strong>{{address.firstName}} {{address.lastName}}</strong>
          <br> {{address.address1}}
          <span *ngIf="address.address2">
            <br> {{address.address2}}</span>
          <br> {{address.city}}
          <span *ngIf="address.region">
            <br> {{address.region}}</span>
          <br> {{address.country}}
          <span *ngIf="address.postcode">
            <br> {{address.postcode}}</span>
          <span *ngIf="address.phone">
            <br> Phone number: {{address.phone}}</span>
        </p>
      </div>
      <div class="footer">
        <button class="btn-text" (click)="setAsDefault(address)" *ngIf="!address.default">Set as default</button>
        <button class="btn-text" [routerLink]="['edit', address._id]">Edit</button>
        <button class="btn-text danger" (click)="deleteCard(address)">Delete</button>
      </div>
    </div>
  </div>
</div>
