<dot-breadcrumbs [allowBootstrap]="true"></dot-breadcrumbs>
<form class="dashboard-form" [formGroup]="form">
  <h2>{{edit ? 'Edit' : 'Add'}} Address</h2>
  <div class="content">
    <bx-address-form [parentForm]="form" groupName="shipping" [address]="address$ | async" showNames="true" showContact="true"></bx-address-form>
    <p class="set-default">
      <mat-checkbox formControlName="set_default">Set as default address</mat-checkbox>
    </p>
  </div>
  <button class="btn btn-success" type="submit" (click)="addAddress()" [disabled]="!form.valid">{{edit ? 'Update' : 'Add'}}
    Address</button>
</form>
