<h1 mat-dialog-title>Design already exists</h1>
<div mat-dialog-content>There is already a design for this product in progress. Continuing will overwrite the design. If you would like to keep the
  design please please view design below and save the design to your account.</div>
<div mat-dialog-actions>
  <button class="btn btn-solid" (click)="viewDesign()">View Design</button>
  <button class="btn btn-solid btn-danger" [mat-dialog-close]="true">Continue</button>
</div>
<i class="arrow-after"></i>
