<bx-list-view pageTitle="Size Guides" (confirmDelete)="deleteItem($event)" #listView>
  <div list>
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Size</th>
          <th>Size Jean Size / Child size description</th>
          <th>Category</th>
          <th>Style</th>
          <th class="fit"></th>
        </tr>
      </thead>
      <tbody>
        <tr bx-sizing-item *ngFor="let item of items" [item]="item" (onDeleted)="listView.deleteConfirm($event)"></tr>
      </tbody>
    </table>
    <div *ngIf="(totalCount$ | async) as totalCount">
      <pagination [maxSize]="maxSize" [totalItems]="totalCount" [(ngModel)]="page" [itemsPerPage]="limit" (pageChanged)="goToPage($event)"></pagination>
    </div>
  </div>
</bx-list-view>
