<td class="fit align-middle">
  <i class="icon-cursor-move icons font-2xl d-block"></i>
</td>
<td width="100">
  <bx-image-thumb [public_id]="item.image.key" *ngIf="item.image"></bx-image-thumb>
  <svg class="font-color" title="{{item.hex}}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" width="80"
    height="80" *ngIf="item.hex">
    <rect [attr.fill]="item.hex" width="100%" height="100%" x="0" y="0" />
  </svg>
</td>
<td>{{item.title}}</td>
<td>{{item.materialType?.title}}</td>
<td>
  <ng-container *ngFor="let group of item.groups">
    {{group.title}}<br>
  </ng-container>
</td>
<td>{{item.thai_name}}</td>
<td>{{item.price}}</td>
<td class="fit text-center">{{item.published ? 'Yes' : 'No'}}</td>
<td class="fit">
  <bx-list-edit-btn [item]="item" (onDeleted)="delete($event)"></bx-list-edit-btn>
</td>
