<div class="animated fadeIn" *ngIf="!loading">
  <form class="row" [formGroup]="editForm" (ngSubmit)="updateItem(editForm.value)">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">{{isNew ? 'New Material' : 'Edit ' + editForm.controls['title'].value}}</div>
        <div class="card-block">
          <bx-form-field label="Title">
            <input type="text" class="form-control" placeholder="Title" formControlName="title" bosInputRef>
          </bx-form-field>
          <bx-form-field label="Thai Name">
            <input type="text" class="form-control" placeholder="Thai Name" formControlName="thai_name" bosInputRef>
          </bx-form-field>
          <bx-form-field label="Hex Colour">
            <input type="text" class="form-control" placeholder="#000000" formControlName="hex" bosInputRef>
          </bx-form-field>
          <bx-form-field label="Data Uri">
            <input type="text" class="form-control" placeholder="data:uri" formControlName="data_uri" bosInputRef>
            <span class="help-block">This is only need in special cases such as crystals</span>
          </bx-form-field>
          <bx-form-field label="Material Type">
            <bx-category-select category="55059f9f5b5557d303dd8907" [nested]="false" [parentForm]="editForm"
              [item]="item" field="materialType"></bx-category-select>
          </bx-form-field>
          <bx-form-field label="Price">
            <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-gbp"></i>
                </span>
              </span>
              <input type="text" class="form-control" placeholder="Price" formControlName="price">
            </div>
            <small>Add on price for material.</small>
          </bx-form-field>
          <bx-form-field label="Material Groups">
            <bx-ng-select-api #apiSearch endpoint="material-group" [query]="{'$sort': { weight: 1 }}">
              <ng-select [items]="apiSearch.dropDownItems" [multiple]="true" bindLabel="title" [clearable]="false"
                [typeahead]="apiSearch.itemTypeahead" [hideSelected]="true" [loading]="apiSearch.itemLoading"
                placeholder="No groups selected" formControlName="groups"></ng-select>
            </bx-ng-select-api>
          </bx-form-field>
        </div>
      </div>
      <bx-publishing-form [parentForm]="editForm" [item]="item"></bx-publishing-form>
    </div>
    <div class="col-md-3">
      <bx-single-image-upload [config]="dropzone_config" [image]="item.image" (imageAdded)="imageAdded($event)"
        (imageRemoved)="imageRemoved()"></bx-single-image-upload>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!editForm.valid">{{isNew ? 'Create' : 'Update'}}</button>
      </div>
    </div>
  </form>
</div>
