@import 'variables';
@import 'mixins';

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import 'node_modules/bootstrap/scss/mixins/_grid';

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
);

:host {
  // background-color: $black;
  background-color: #08070b;
  padding: 1.5rem 1rem;
  display: block;
}

h3,
p,
a {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mw-180px {
  max-width: 180px;
}
.mw-250px {
  max-width: 250px;
}
.btn-green {
  background-color: #63b20b;
  border-color: #63b20b;
  color: #fff !important;
}
.wrapper {
  @include make-container();
  @include make-container-max-widths($container-max-widths);
  margin-bottom: 0;
}

.footer-menus {
  @include make-row();
  .logos {
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(12);
      margin-bottom: 1.5rem;
    }
    @include media-breakpoint-up(sm) {
      @include make-col(4);
      margin-bottom: 0;
    }
    @include media-breakpoint-up(md) {
      @include make-col(2);
      margin-bottom: 0;
    }
  }
  .fmenu {
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(12);
      margin-bottom: 1.5rem;
    }
    @include media-breakpoint-up(sm) {
      @include make-col(4);
      margin-bottom: 0;
    }
    @include media-breakpoint-up(md) {
      @include make-col(3);
      margin-bottom: 0;
    }
  }
  .help {
    margin-left: 0;
    @include media-breakpoint-up(md) {
      // margin-left: auto;
    }
  }
  .contact {
    margin-bottom: 0;
  }
}

.checkout {
  text-align: center;
}

.payment-methods {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: block;
  li {
    display: inline-block;
    .icon {
      color: white;
    }
  }
}

/* Footer */
.social i {
  color: #fff;
  margin: 0 10px;
}
hr.hr-footer {
  color: #464646;
}
.terms span {
  margin: 0px 5px;
  font-size: 12px;
  font-weight: 400;
  color: #606060 !important;
}
.footer-list li a {
  color: #7a7a7a;
  font-size: 12px;
}
.footer-list li {
  padding-bottom: 5px;
}
.social svg {
  width: 22px;
  color: #fff;
  margin-left: 10px;
}
li.footer-menu-list {
  margin-top: 10px;
}
li.footer-menu-list a {
  color: #7a7a7a;
}
.horizontal-line-footer {
  width: 100%;
  margin: 20px 0;
}
.footer-foot-menu span {
  margin-right: 30px;
  color: #6a6a6a;
}

@media only screen and (max-width: 768px) {
  li.footer-menu-list {
    font-size: 10px;
  }
  .fmenu h3 {
    font-size: 12px;
  }
  .social {
    margin-top: 20px;
  }
  .footer-foot-menu span {
    font-size: 10px;
  }
}
