<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Refund
    </h4>
    <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [hidden]="saving">
    <bx-form-field label="Amount">
      <input type="text" class="form-control" [(ngModel)]="amount">
    </bx-form-field>
    <button class="btn btn-success" [disabled]="!amount || amount <= 0" (click)="sendRefund()">Send refund</button>
  </div>
  <div class="modal-body" [hidden]="!saving">
    <h2>Saving refund...</h2>
  </div>
</div>