<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add payment
    </h4>
    <button type="button" class="close pull-right" (click)="hidePaymentModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [hidden]="saving">
    <h4>Outstanding balance: {{order?.balance | currency:'GBP':'symbol'}}</h4>
    <bx-form-field label="Payment type">
      <select class="form-control" [(ngModel)]="paymentType" (ngModelChange)="typeChanged($event)">
        <option [ngValue]="'Card'">Credit Card</option>
        <option [ngValue]="'Misc'">Misc</option>
      </select>
    </bx-form-field>
    <bx-form-field label="Amount">
      <input type="text" class="form-control" [(ngModel)]="amount">
    </bx-form-field>
    <div *ngIf="paymentType == 'Card'; else miscPayment">
      <form [formGroup]="paymentForm">
        <bx-form-field label="Card Holder Name">
          <input type="text" class="form-control" formControlName="name">
        </bx-form-field>
        <bx-form-field label="Card details">
          <div id="card-element" class="form-control" #card></div>
        </bx-form-field>
        <button class="btn btn-success" [disabled]="amount <= 0 || saving  || !paymentForm.valid" (click)="addCardPayment()">Add payment</button>
      </form>
    </div>
    <ng-template #miscPayment>
      <button class="btn btn-success" [disabled]="amount <= 0 || saving" (click)="addMiscPayment(paymentType)">Add payment</button>
    </ng-template>
  </div>
  <div class="modal-body" [hidden]="!saving">
    <h2>Saving payment...</h2>
  </div>
</div>