<div class="fixed-bar" *ngIf="!checkout; else isCheckout">
  <bx-header-toolbar></bx-header-toolbar>
  <div class="nav-bar">
    <div class="menu-icon">
      <button
        class="btn-menu"
        [ngClass]="{ 'menu-open': menuOpen$ | async }"
        (click)="toggleMenu(menuOpen$)"
      >
        <span class="btn__hamburger__line"></span>
        <span class="btn__hamburger__line"></span>
        <span class="btn__hamburger__line"></span>
      </button>
    </div>
    <a class="logo" [routerLink]="['/']">
      <img src="assets/img/logo.png" alt="logo">
    </a>
    <nav class="main-menu-desktop" bxMainMenu></nav>
    <div class="cart" *bxShellRender>
      <fa-layers class="fa-fw fa-2x" size="2x">
        <fa-icon class="icon" [icon]="['fal', 'shopping-cart']"></fa-icon>
      </fa-layers>
    </div>
    <div class="cart" bx-cart-button *bxShellNoRender></div>
  </div>
</div>
<ng-template #isCheckout>
  <div class="fixed-bar checkout">
    <bx-header-toolbar checkout="true"></bx-header-toolbar>
    <div class="nav-bar">
      <a class="logo" [routerLink]="['/']">
        <img
          src="https://cdn2.boxxerworld.com/assets/img/logo.svg?v5"
          alt="Boxxerworld"
        />
      </a>
    </div>
  </div>
</ng-template>
<nav
  class="main-menu"
  [ngClass]="{ 'menu-open': menuOpen$ | async }"
  *ngIf="!checkout && menuOpen$ | async"
>
  <bx-menunav></bx-menunav>
</nav>
