<div class="options-panel">
  <bx-custom-scroll-container>
    <div class="option-panel">
      <div class="content">
        <bx-custom-material-group
          [materialGroups]="fillMaterialsGroups | async"
          [selectedMaterial]="selectedFill"
          (materialColourSelected)="colourFillSelected($event)"
        >
          <div class="sub-header">
            <h4 [class.danger]="!selectedFill">
              Choose base <span *ngIf="!selectedFill"> required</span>
            </h4>
          </div>
        </bx-custom-material-group>
        <bx-custom-material-group
          [materialGroups]="outlineMaterialsGroups | async"
          [selectedMaterial]="selectedOutline"
          (materialColourSelected)="colourOutlineSelected($event)"
        >
          <div class="sub-header">
            <h4 [class.danger]="!selectedOutline">
              Choose outline <span *ngIf="!selectedOutline"> required</span>
            </h4>
          </div>
        </bx-custom-material-group>
      </div>
    </div>
  </bx-custom-scroll-container>
  <bx-actions
    [canDelete]="canDelete"
    (designCancel)="cancel()"
    (designSave)="save()"
    (designDelete)="delete()"
    [validated]="validated"
  >
    <div class="options-selection">
      <h5>Muay Thai</h5>
      <h5 *ngIf="selectedFill">
        Base: {{ selectedFill.title }} {{ selectedFill.materialType.title }}
      </h5>
      <h5 *ngIf="selectedOutline">
        Outline: {{ selectedOutline.title }}
        {{ selectedOutline.materialType.title }}
      </h5>
      <h5>
        <bx-price
          [price]="(customSettings$ | async).muay_thai_price"
        ></bx-price>
      </h5>
    </div>
  </bx-actions>
</div>
