<div class="options-panel">
  <bx-custom-scroll-container>
    <div class="option-panel">
      <div class="content" [formGroup]="logoForm">
        <p class="danger">
          If you would like us to make changes to the selected graphic, such as
          changing the colour, please enter below.
        </p>
        <mat-form-field>
          <label class="mb-1 d-flex ng-tns-c47-10"><span>Enter desired logo main colour (make it contrast to base fabric)<b class="text-danger">*</b> </span>
            <mat-icon class="ml-2 text-danger " matTooltip="Logos need to stand out from the background material so they should be a clearly contrasting colour to the fabric. Eg logos on black material should be white or another light colour" matTooltipClass="tooltipFont" matTooltipPosition="below">info</mat-icon></label>
          <input
            matInput
            placeholder=""
            formControlName="color"
          >
        </mat-form-field>
      <mat-form-field>
        <label class="mb-1">Any special instructions about graphic/ logo</label>
        <textarea
          matInput
          placeholder=""
            matTextareaAutosize
            matAutosizeMinRows="3"
            matAutosizeMaxRows="10"
            formControlName="instructions"
          ></textarea>
        </mat-form-field>
        <h4 [hidden]="!hasSizes">Select size</h4>
        <mat-radio-group class="graphic-sizes" formControlName="size">
          <mat-radio-button
            class="option"
            *ngFor="let size of logoSizes$ | async"
            [value]="size.title"
          >
            {{ size.title }} - <bx-price [price]="size.price"></bx-price
            ><br /><small>{{ size.description }}</small>
          </mat-radio-button>
        </mat-radio-group>
        <p [hidden]="!hasSizes">
          Logo size will be at the widest or longest point depending on shape
        </p>
      </div>
    </div>
    <div class="material-colours">
      <div
        class="material"
        [ngClass]="{
          selected: selectedLogo && logo._id === selectedLogo.image._id
        }"
        *ngFor="let logo of logos"
        (click)="logoSelected(logo)"
      >
        <img [bxLazysizes]="logo.image.key" />
      </div>
    </div>
  </bx-custom-scroll-container>
  <bx-actions
    (designCancel)="cancel()"
    (designSave)="save()"
    (designDelete)="delete()"
    [validated]="validated"
    [canDelete]="canDelete"
  >
    <div class="options-selection">
      <h5>Image</h5>
      <h5 *ngIf="!selectedLogo; else selectedPrice">
        <bx-price [price]="price"></bx-price>
      </h5>
      <ng-template #selectedPrice>
        <h5>
          {{ selectedLogo.image.title }}
        </h5>
        <h5>
          <bx-price [price]="price"></bx-price>
        </h5>
      </ng-template>
    </div>
  </bx-actions>
</div>
