<ng-container>
  <section
    *ngIf="(galleries$ | async)?.length != 0 && !loading"
    class="inspriation"
  >
    <div class="intro-header">
      <h2>Get Inspired</h2>
      <p>Cool stuff we have made for other fighters.</p>
    </div>
    <div
      class="flickity-wrapper"
      [bxFlkty]="{
        cellAlign: 'left',
        percentPosition: true,
        imagesLoaded: true,
        wrapAround: true,
        pageDots: false
      }"
    >
      <div
        [bxFlktyCell]
        class="carousel-cell"
        *ngFor="let item of galleries$ | async"
      >
        <div
          bxCard
          *ngIf="item.list_image"
          (click)="galleryControl.getImages([item])"
        >
          <div bxImageWrapper [aspect_ratio]="1">
            <img [bxLazysizes]="item.list_image.key" [crop_ratio]="1" />
          </div>
        </div>
      </div>
    </div>
    <a [routerLink]="[]" fragment="templates" class="view-more">
      <h4>View templates</h4>
      <fa-icon class="icon" [icon]="['fal', 'chevron-down']"></fa-icon>
    </a>
  </section>
</ng-container>
<bx-image-gallery-controller #galleryControl></bx-image-gallery-controller>
