<dot-breadcrumbs [allowBootstrap]="true"></dot-breadcrumbs>
<div class="dashboard">
  <div class="dashboard-item-container" *ngFor="let design of designs$ | async">
    <div class="dashboard-item">
      <div class="content">
        <h3>{{ design.product.title }}</h3>
        <img [bxLazysizes]="design.image.key" *ngIf="design.image" />
        <p></p>
      </div>
      <div class="footer">
        <button
          class="btn-text"
          *ngIf="design.line_item"
          (click)="copyDesign(design)"
        >
          Re-order
        </button>
        <button
          class="btn-text"
          *ngIf="!design.line_item"
          (click)="editDesign(design)"
        >
          Edit
        </button>
        <button
          class="btn-text"
          *ngIf="!design.line_item"
          (click)="copyDesign(design)"
        >
          Create New Version
        </button>
        <button
          class="btn-text danger"
          (click)="deleteDesign(design)"
          *ngIf="!design.line_item"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
