<bx-list-view pageTitle="Custom Products" (confirmDelete)="deleteItem($event)" #listView>
  <div class="row mb-1" filter>
    <bx-category-select class="form-group col-md-2 offset-md-6" category="58ac1318dc142c612ab61fad" [selectedTerm]="category"
      (onFilter)="filter($event)"></bx-category-select>
    <div class="col-md-4">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-search"></i>
          </span>
        </span>
        <input #term [(ngModel)]="terms" (keyup)="search(term.value)" type="text" class="form-control" placeholder="Title, product"
        />
      </div>
    </div>
  </div>
  <div list>
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Title</th>
          <th>Code</th>
          <th>Category</th>
          <th>Price</th>
          <th>Published</th>
          <th class="fit"></th>
        </tr>
      </thead>
      <tbody>
        <tr bx-custom-products-item *ngFor="let item of items" [item]="item" (onDeleted)="listView.deleteConfirm($event)"></tr>
      </tbody>
    </table>
    <div *ngIf="(totalCount$ | async) as totalCount">
      <pagination [maxSize]="maxSize" [totalItems]="totalCount" [(ngModel)]="page" [itemsPerPage]="limit" (pageChanged)="goToPage($event)"></pagination>
    </div>
  </div>
</bx-list-view>
