<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">{{pageTitle}}
      <div class="card-actions" *ngIf="addNew">
        <a [routerLink]="['new']">
          <i class="icon-plus icons font-xl"></i>
        </a>
      </div>
    </div>
    <div class="card-block">
      <!-- Put filters here -->
      <ng-content select="[filter]"></ng-content>
      <!-- Put items list here -->
      <ng-content select="[list]"></ng-content>
    </div>
  </div>
</div>
<bx-confirm-modal #confirmModal (confirm)="deleteItem($event)"></bx-confirm-modal>