<div class="animated fadeIn" *ngIf="!loading">
  <form class="row" [formGroup]="editForm" (ngSubmit)="updateItem(editForm.value)">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">{{isNew ? 'New Discount' : 'Edit ' + editForm.controls['title'].value}}</div>
        <div class="card-block">
          <bx-form-field label="Title">
            <input type="text" class="form-control" placeholder="Title" formControlName="title" bosInputRef>
          </bx-form-field>
          <bx-form-field label="Code">
            <input type="text" class="form-control" placeholder="Code" formControlName="code" bosInputRef>
          </bx-form-field>
          <bx-form-field label="% Discount">
            <input type="tel" class="form-control" placeholder="% Discount" formControlName="percent" bosInputRef>
          </bx-form-field>
          <bx-form-field label="£ Amount">
            <input type="tel" class="form-control" placeholder="£ Amount" formControlName="amount" bosInputRef>
          </bx-form-field>
          <bx-form-field label="Quantity (i.e max number of uses)">
            <input type="tel" class="form-control" placeholder="Qty" formControlName="qty" bosInputRef>
          </bx-form-field>
          <bx-form-field label="Expiry">
            <div class="input-group" dropdown>
              <input class="form-control" placeholder="Expiry date" bsDatepicker #dp="bsDatepicker" formControlName="expiry"
                value="{{editForm.controls['expiry'].value | date: 'dd/MM/yyyy':'Z'}}" [bsConfig]="bsConfig"
                bosInputRef>
              <span class="input-group-append calendar-point" (click)="dp.show()">
                <span class="input-group-text">
                  <span class="icon-calendar"></span>
                </span>
              </span>
            </div>
            <small class="form-text text-muted">If you want the discount to run to the end of the day be sure to select
              the next days date.</small>
          </bx-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!editForm.valid">{{isNew ? 'Create' : 'Update'}}</button>
      </div>
    </div>
  </form>
</div>
