*{
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;
  font-family: "Poppins", sans-serif;
}
h1,h2,h3,h4,h5,h5,h6,p,a{
  font-family: "Poppins", sans-serif;
}

// hero section

.bg-hero-img {
  background: #09090a;
}
video#myVideo{
  width: 100%;
}

/* ************************************************************** */

.single-product-section{
  background-image: url(/assets/img/BG-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
button.get-started {
  margin-top: 14px;
  background: #c5c5c5;
  height: 50px;
}
.minutes {
  font-weight: 100 !important;
}
.custm-product p {
  font-weight: 200;
  width: 72%;
}
/* About us section */
.bg-aboutus{

  position: relative;
}
.aboutus-section{
  padding: 150px 100px 0 0;
}
.aboutus-text-container {
  position: absolute;
  right: 90px;
  top: 4px;
}
.bg-aboutus img {
  width: 97%;
}
.aboutus-text-container img{
  width: 100%;
}
.story-text {
  position: absolute;
  top: 33rem;
  left: 11rem;
  width: 58%;
}
.story-text h3 {
  color: #fff;
  font-weight: bold;
}
.story-text p {
  color: #fff;
  font-weight: 200;
  margin-top: 16px;
  line-height: 2;
}

/*Trending Now sec css*/
section.trending-section {
  width: 92%;
  margin: 0 auto;
}
.slider {
  position: relative;
  
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 33.33%;
  box-sizing: border-box;
  background: #efefef;
  margin: 0 10px;
  text-align: center;
  padding: 75px;
}
.slide img {
  width: 100%;
  vertical-align: middle;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slide p {
  font-weight: bold;
  font-size: 34px;
}
.btn-nect-prev {
  background: #e5e5e5;
  border-radius: 50%;
  padding: 4px 12px;
  color: #000;
}
.btn-prev-contain {
  position: absolute;
  right: 7rem;
  top: 12rem;
}
.btn-next-contain {
  position: absolute;
  right: 2rem;
  top: 12rem;
}

/* Why us section css */
// .whystory-text2 p {
//   margin-bottom: 57px;
// }
// .whyus-bg-img{
//   width: 100%;
// }
// .why-us {
//   padding: 200px 0 0 200px;
// }

// .whyus-text-container {
//   position: absolute;
//   top: 60px;
//   left: 18px;
// }

// .whystory-text {
//   position: absolute;
//   top: 43rem;
//   left: 17rem;
//   width: 22%;
//   line-height: 2;
//   font-weight: 200;
//   font-size: 14px;
// }
// .whystory-text2 {
//   position: absolute;
//   top: 23rem;
//   left: 55rem;
//   width: 31%;
//   line-height: 2;
//   font-weight: 200;
//   font-size: 14px;
// }
// img.img-del-gloves {
//   width: 58px;
// }
// .column-info-container {
//   position: absolute;
//   bottom: 0;
//   width: 88%;
// }
// .column-info {
//   text-align: center;
//   /* padding: 74px 0; */
//   height: 32vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// .col-lg-4.pr-0 {
//   padding-right: 0;
// }
// .col-lg-4.pl-0 {
//   padding-left: 0;
// }
// .bg-pink {
//   background: #b50a2e;
// }
/* Why us section css */

// .bg-pink {
//   position: relative;
//   overflow: hidden;
//   /* height: 150px; */
// }

// .showed-text, .hidden-text {
//   transition: all 0.9s ease;
//   opacity: 0.7;
// }

// .showed-text {
//   position: relative;
//   z-index: 1;
// }

// .hidden-text {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   opacity: 0;
//   padding: 10px;
//   box-sizing: border-box;
//   background: none; /* Ensure the background matches the container */
//   transform: translateY(-100%);
//   z-index: 0;
// }

// .column-info:hover .showed-text {
//   opacity: 0;
// }

// .column-info:hover .hidden-text {
//   transform: translateY(50%);
//   opacity: 1;
//   z-index: 1;
// }
// .grey-bg {
//   background: #ebebeb;
// }   


/* Boxer World */
.trending-heading {
  padding: 50px 0 50px 0px;
}
.slide img {
  aspect-ratio: 4/4;
  object-fit: contain;
  margin-bottom: 25px;
}
.head-sm {
  font-weight: bolder;
  font-size: 100px;
  text-align: center;
}
.grid-img-container img {
  width: 90%;
}
section.boxerworld-section {
  padding: 0 0 0 138px;
}
.boxerworld-heading h1 {
  padding: 67px 0;
}
.boxerworld-bg {
  padding: 36px 100px 0 100px;
}
img.bx-world-img {
  width: 96%;
}
.description {
  width: 77%;
  margin: 0 auto;
  padding-top: 21px;
}
.bf-top-description.text-center {
  padding-bottom: 50px;
}

/* shorts css */
// section.boxer-section {
//   margin: 180px 0 25px 0;
// }
// .bg-shorts {
//   background-image: url(/assets/img/fight-bg.png);
//   background-repeat: no-repeat;
//   background-size: 100%;
//   padding: 100px;
// }
// img.shorts-img {
//   width: 70%;
// }
// .boxer-prod P {
//   font-size: 34px;
//   font-weight: 100;
// }   
// .shop-btn {
//   padding: 5px 30px;
//   font-size: 46px;
//   font-weight: bold;
//   border-radius: 0;
//   background: #fff;
//   margin-top: 30px;
// }


/* Background Gradient */
.bg-gradients {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;  

}
.container-3d .box-3d {
  position: relative;
  width: 300px;
  height: 400px;
  // margin: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.9;
  border-radius: 10px;
  transform-style: preserve-3d; /* Ensures child elements are rendered in 3D */
  transform: rotateY(0deg); /* Apply a 3D transformation to the box-3d */
}
.container-3d .box-3d .name-3d {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  transform: translateZ(75px); /* Use translateZ to move the element in 3D space */
  transform-style:preserve-3d;
  color: #fff;
  opacity: 0;
  z-index: 0;
  transition: 0.5s;
}
.container-3d .box-3d:hover .name-3d {
  top: 40px;
  opacity: 1;
  transform-style:preserve-3d;
}
.container-3d .box-3d .buy {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translatey(-16px) translateX(-49%);
  transform-style: preserve-3d;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 20px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  width: 150px;
  font-weight: 600;
  text-align: center;
  z-index: 10;
}
.container-3d .box-3d .product {
  position: absolute;
  top: 46%;
  left: 63%;
  transform: translateZ(0) translate(-50%, -50%);
  transform-style: preserve-3d;
  max-width: 354px;
  transition: 0.5s;
}   
.container-3d .box-3d:hover .product {
  transform: translateZ(100px) translate(-50%, -50%); /* Use translateZ to move the element in 3D space */
  transform-style:preserve-3d;
}




/* Card Styles */
.card {
  display: grid;
  place-items: center;
  // width: 600px;
  height: 400px;
  // padding: 2rem;
  // background-color: transparent !important;
  border-radius: 1.5rem;
  border:0 !important ;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-out;
  cursor: pointer;
}



/* Card Content Styles */
.card-content {
  display: grid;
  place-items: center;
  text-align: center;
}

.card-image {
  width: 4rem;
  border-radius: 0.75rem;
  aspect-ratio: 1 / 1;
}

.card-text {
  margin-top: 3rem;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
}

.card-description {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #4b5563;
}
.custm-product h2 {
  color: #000;
  font-weight: bold;
  font-size: 52px;
  width: 78%;
}
.custm-product p {
  color: #000;
    width: 68%;
    font-weight: 400;
}
.custm-product button {
  padding: 10px;
  border: 0;
  border-radius: 28px;
  font-weight: 600;
  font-size: 14px;
  width: 200px;
  height: 63px;
}
.fw-lighter {
  font-weight: lighter!important;
}
.row.row-align-center {
  align-items: center;
  width: 100%;
}
img.shorts-img{
  transition: transform 2s ease;
}

img.shorts-img:hover {
  transform: rotateY(-360deg);
}

// New section animation
.hidden-animated-container {
  height: 400px;
}
.anim-sub-content {
  border-right: 2px solid #bbbbbb;
  
}
 
.hiddem-animated-content p {
  padding: 20px;
}
.anim-sub-content{
  position: relative;
  overflow: hidden;
  height: 100%;
}
// upper hover
.hidden-animated-content {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.9s ease, transform 0.9s ease; /* Transition properties */
  position: absolute;
  top: 0;
  background: #000;
  color: #fff;
  height: 100%;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 0 20px;
}
 
.upper-text:hover ~ .hidden-animated-content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s; /* Delay the transition to match the animation timing */
}

.upper-text {
  transition: opacity 0.9s ease, transform 0.9s ease; /* Transition properties */
}

.upper-text:hover {
  opacity: 1;
  transform: translateY(0px); /* Adjust as necessary for a smooth effect */
  
}
// lower hover
.hidden-animated-content2 {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.9s ease, transform 0.9s ease; /* Transition properties */
  position: absolute;
  top: 0;
  background: #000;
  color: #fff;
  height: 100%;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 0 20px;
}

.lower-text:hover ~ .hidden-animated-content2 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s; /* Delay the transition to match the animation timing */
}

.lower-text {
  transition: opacity 0.9s ease, transform 0.9s ease; /* Transition properties */
}

.hover-anim {
  font-size: 32px;
  font-weight: 300;
  color: #727272;
  margin: 0 15px;

  cursor: pointer;
}
section.new {
  display: flex;
  justify-content: center;
}
/* slider sec */

// New section
section.new {
    padding: 30px 100px;
    background: #fff;
}


// Boxxer detail css
section.boxxer-detail {
  background-image: url(/assets/img/Boxxerworld-bg.png);
  padding: 50px;
  margin: 40px 0;
  // display: flex;
  //   justify-content: center;
}
.boxxer-shorts-detail h5 {
  font-size: 22px;
  color: #bf2022;
  font-weight: 900;
  font-style: italic;
}
img.ready {
  // width: 56%;  
  margin: 10px 0;
}
.boxxer-md-description h4 {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
}
.boxxer-md-description p {
  color: #fff;
  font-size: 11px;
  letter-spacing: 8px;
  font-weight: 300;
  margin-top: -6px;
}
p.shop-description {
  color: #fff;
  font-weight: 100;
  text-align: right;
  margin-top: 10px;
  // width: 54%;
}
 
 
button.shop {
  background: #fff;
  padding: 14px;
  border-radius: 31px;
  font-weight: bold;
  font-size: 12px;
  width: 138px;
  height: 50px;
  margin-top: 20px;
}
// .shop-container {
//   width: 54%;
// }


.our-client h2 {
  color: #fff;
  font-weight: 700;
  width: 100%;
  font-size: 55px;
}
.our-client p {
  font-size: 16px;
  color: #fff;
  font-weight: 200;
  line-height: 1.4;
  width: 100%;
}
.secnd-row {
  padding: 100px 0;
}
.count-no{
  border: 5px solid #48f4d0;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 45px;
  font-weight: 500;
  color: #fff;
}
.rating-riews {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
p.caption-count {
  margin-top: 14px;
  font-size: 19px;
  color: #fff;
  font-weight: 100;
} 
button.review-btn {
  color: #ffffff;
  background: #282828;
  padding: 14px;
  border-radius: 31px;
  font-size: 13px;
  width: 172px;
  height: 60px;
  margin-top: 20px;
  font-weight: 100;
}


:host ::ng-deep .owl-item.center {
  transform: scale(1.2);
  transition: transform 0.3s;
  z-index: 2;
  background-color: #242424;
  font-size: 12px;
  color: #fff;
  padding: 77px 42px;
  text-align: center;
  font-weight: 200;
  line-height: 1.8;
  height: 400px;
}

:host ::ng-deep .owl-item:not(.center) {
  opacity: 0.5;
  transition: opacity 0.3s;
  background-color: #242424;
  font-size: 12px;
  color: #fff;
  padding: 77px 42px;
  text-align: center;
  font-weight: 200;
  line-height: 1.8;
  height: 338px;
}
:host ::ng-deep .owl-stage {
  display: flex !important;
  gap: 58px !important;
}
:host ::ng-deep .owl-prev{
  color: #FFF;
  font-size: 28px !important;
  padding: 10px 28px !important;
  background: #282828 !important;
  display: inline-block;
  cursor: pointer;
  color: white;
  margin: 0 !important;
  border-radius: 30px 0px 0px 30px !important;
}
:host ::ng-deep .owl-next{
  color: #FFF;
  font-size: 28px !important;
  padding: 10px 28px !important;
  background: #282828 !important;
  display: inline-block;
  cursor: pointer;
  color: white;
  margin: 0 !important;
  border-radius: 0px 30px 30px 0px !important;
}
p.reviewr-name.m-0.mt-4 {
  font-weight: 500;
}
.stars-container{
  width: 45%;
  margin: 0 auto;
  padding-bottom: 17px;
}
:host ::ng-deep .owl-nav.ng-star-inserted {
  margin-top: 68px !important;
}
.col-lg-3.col-sm-6.col-md-6 {
  padding: 0;
}
/* **************************************************************************  */
/* Mobile (Portrait) */
@media only screen and (max-width: 480px) {
  /* Styles */
}

/* Mobile (Landscape) */
@media only screen and (max-width: 768px) {
.logo img{
    width: auto !important;
  }
  .nav-container {
      padding: 0 10px !important;
  }
  video#myVideo {
      width: 100%;
  }
  .bg-gradients {
      min-height: 40vh;
  }
  .card{
      flex-direction: row !important;
      width: 100%;
}
.custm-product h2 {
  font-size: 25px;
  width: 100%;
}
.custm-product p {
  width: 100%;
}
.custm-product {
  padding: 10px;
}
.why-us {
  padding: 0;
}
.whyus-text-container {
  position: inherit;
}
.column-info-container {
position: inherit;
}
.column-info-containers  {
position: inherit;
}
.whyus-text-container img {
  width: 33%;
  
}
.whyus-text-container {
  position: absolute;
  top: 2rem;
  left: 0;
}
.whystory-text {
  top: 8rem;
  left: 1rem;
  width: 60%;
  line-height: 1.5;
  font-size: 8px;
}   
.column-info {
  height: 18vh;
  position: relative;
}
.why-us {
  padding: 30px 0;
}   
.aboutus-section {
  padding: 30px 0;
}
.aboutus-text-container {
  left: 12px;
  top: 6px;
}   
.aboutus-text-container img {
  width: 50%;
}
.story-text p {
  line-height: 1.5;
  font-size: 8px;
}
.story-text {
  position: absolute;
  top: 8rem;
  left: 1rem;
  width: 58%;
}
.story-text p:nth-child(3) {
display: none;
}
.story-text p:nth-child(4) {
display: none;
}
.trending-heading {
  padding: 2px 0 0px 0px;
}
.head-sm {
  font-size: 20px;
}
section.boxerworld-section {
  padding: 0;
}
.slide {    
  padding: 5px;
}
.slide p {
  font-weight: bold;
  font-size: 14px;
}
.btn-next-contain {
  top: 0;
}
.btn-prev-contain {
  top: 0      ;
}
.boxerworld-heading h1 {
  padding: 24px 0 0 0;
}
.boxerworld-bg {
  padding: 10px 20px;
}
.bf-top-description.text-center {
  padding-bottom: 10px;
}
img.bx-world-img {
  margin-top: 10px;
}
section.boxer-section {
  margin: 18px 0 25px 0;
}
.bg-shorts {
  background-image: url(/assets/img/fight-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0;
}
.boxer-prod P {
  font-size: 14px;
  font-weight: 100;
}
img.shorts-img {
  display: none;
}
.shop-btn {
  border-radius: 0;
}
.shop-btn {
  font-size: 20px;
}
.position-relative.hero {
  padding: 10px 0;
}   
.whystory-text2 {
  display: none;
}
.container-3d .box-3d .product {
  max-width: 100%;
}
.container-3d .box-3d {
  margin: 0px;
}
.bg-aboutus img {
  width: 100%;
}
.col-lg-4.footer-cols {
  width: 40%;
}
.row.autoplay.slider-row.slick-initialized.slick-slider {
  width: 100%;
}
.custom-row {
  gap: 39px;
}
.after-vertical-line:after,.after-vertical-line2:after,.after-vertical-menu2:before,.after-vertical-menu2:after,.custom-column.position-relative{
display: none;
}
.column-info:hover .hidden-text {
  transform: translateY(0%);
  font-size: 12px;
}
.container-3d[_ngcontent-serverApp-c11]   .box-3d[_ngcontent-serverApp-c11] {
  width: 245px;
  height: 307px;
}
.single-product-section[_ngcontent-serverApp-c11] {
  background-size: unset;
}
section.boxxer-detail{
  padding: 10px;
  }
  p.shop-description{
    font-size: 12px;
}
.our-client h2{
  font-size: 26px;
}
.our-client p{
  font-size: 12px;
}
.count-no{
  height: 110px;
  width: 110px;
  font-size: 24px;
}
.rating-riews{
  margin-top: 22px;
}
 
.column-info-container {
  width: 100%;
}
:host ::ng-deep .owl-stage {
  gap: 0px !important;
}
li.footer-menu-list{
  font-size: 11px !important;
}
.hover-anim[_ngcontent-serverApp-c11] {
  font-size: 22px;
  margin-top: 19px;
}
 
.secnd-row {
  padding: 45px 0;
}
}

@media only screen and (min-width: 769px) and (max-width: 921px) {
  .column-info-containers,.column-info-container  {
      position: inherit;
  }
  .whyus-text-container img {
      width: 30%;
  }
  .why-us {
      padding: 0px;
  }   
  .whyus-text-container {
      position: absolute;
      top: 0;
      left: 18px;
  }
  .whystory-text {
      position: absolute;
      top: 12rem;
      left: 2rem;
      width: 56%;
  }
  .card {
      width: -webkit-fill-available;
  }
  .custm-product h2 {
      font-size: 24px;
  }
  .whystory-text2 {
      display: none;
  }
  .aboutus-text-container {
      top: 21px;
  }
  .aboutus-section {
      padding: 150px 0px 0 0;
  }
  section.boxerworld-section {
      padding: 0;
  }
  .boxerworld-heading h1 {
      padding: 32px 14px;
  }
  .head-sm {
      font-size: 55px;
  }
  img.shorts-img {
      width: 24%;
      position: absolute;
      top: 0;
      right: 0;
  }
  img.description-img {
      width: 74%;
  }
  .slide {
      padding: 30px;
  }
  .story-text p:nth-child(3) {
      display: none;
        }
      .story-text p:nth-child(4) {
      display: none;
        }
        .story-text {
          top: 27rem;
          left: 2rem;
      }
      .btn-next-contain,.btn-prev-contain{
          top: 8rem;
      }
      section.boxer-section {
          margin: 25px 0 25px 0;
      }
      .logo img{
        width: fit-content;
      }
      .column-info-container {
        width: 100%;
    }
}

/* Tablet (Landscape) */
@media only screen and (max-width: 1280px) {
  .whystory-text {
      top: 28rem !important   ;
      left: 11rem;
      width: 36%;
  }
}

/* Desktop (Small) */
@media only screen and (max-width: 1366px) {
  /* Styles */
}

/* Desktop (Medium) */
@media only screen and (max-width: 1440px) {
  .column-info-containers {
      position: absolute;
      bottom: 0;
      left: 41.7rem;
  }
  .aboutus-text-container {
      right: 75px;
  }
  .column-info {
      height: 20vh;
  }
  .column-info:hover .hidden-text {
      transform: translateY(18%);
      padding: 0 30px;
  }
  .whystory-text {
      top: 37rem;
      width: 36%;
  }
  .whystory-text2 {
      line-height: 1.5;
  }
}

/* Desktop (Large) */
@media only screen and (max-width: 1920px) {
  /* Styles */
}
