<section class="big-box">
  <a [routerLink]="['/gift-voucher', 'purchase']" class="box double">
    <img
      [bxLazysizes]="'img/ANTHONY-CROLLA.jpg'"
      alt="Boxxerworld"
      [crop_ratio]="2.1111111111"
    />
  </a>
</section>
<section class="small-box row1" #videos>
  <ng-container *bxLazyLoad="videos">
    <div class="box">
      <bx-video
        [showControls]="false"
        [loop]="true"
        [options]="videoOptions('video/red-highshine-bx')"
        name="red-highshine-bx"
      ></bx-video>
    </div>
    <div class="box">
      <bx-video
        [showControls]="false"
        [loop]="true"
        [options]="videoOptions('video/muay-thai')"
        name="muay-thai"
      >
      </bx-video>
    </div>
    <div class="box">
      <bx-video
        [showControls]="false"
        [loop]="true"
        [options]="videoOptions('video/carlos-jkt')"
        name="carlos-jkt"
      >
      </bx-video>
    </div>
    <div class="box">
      <bx-video
        [showControls]="false"
        [loop]="true"
        [options]="videoOptions('video/jackets-shorts')"
        name="jackets-shorts"
      ></bx-video>
    </div>
    <div class="box">
      <bx-video
        [showControls]="false"
        [loop]="true"
        [options]="videoOptions('video/maroon-robe')"
        name="maroon-robe"
      >
      </bx-video>
    </div>
    <div class="box">
      <bx-video
        [showControls]="false"
        [loop]="true"
        [options]="videoOptions('video/vest')"
        name="vest"
      ></bx-video>
    </div>
    <a [routerLink]="['/help-and-info', 'club-team-kits']" class="box double">
      <img
        [bxLazysizes]="'img/bulk-orders.jpg'"
        alt="Boxxerworld Club / Team Kits"
        [crop_ratio]="2"
      />
    </a>
  </ng-container>
</section>
<section *ngIf="home$ | async as home">
  <div class="home-info" [innerHTML]="home.description"></div>
</section>
