<div class="animated fadeIn" *ngIf="!loading">
  <form class="row" [formGroup]="editForm" (ngSubmit)="updateItem(editForm.value)">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">{{isNew ? 'New Term' : 'Edit ' + editForm.controls['title'].value}}</div>
        <div class="card-block">
          <bx-form-field label="Title">
            <input type="text" class="form-control" placeholder="Title" formControlName="title">
          </bx-form-field>
          <bx-form-field label="Admin Title">
            <input type="text" class="form-control" placeholder="Admin Title" formControlName="admin_title">
          </bx-form-field>
          <bx-form-field label="Description">
            <angular-tinymce formControlName="description" [settings]="tinymce"></angular-tinymce>
          </bx-form-field>
          <bx-form-field label="Parent">
            <bx-category-select [category]="currentCategory" [nested]="false" [none]="true" [parentForm]="editForm"
              [item]="item" field="parent" [onlyParent]="true"></bx-category-select>
          </bx-form-field>
          <bx-form-field label="Aspect Ratio">
            <input type="text" class="form-control" placeholder="Aspect Ratio" formControlName="aspect_ratio">
          </bx-form-field>
        </div>
      </div>
      <bx-publishing-form [parentForm]="editForm" [item]="item" [hasSlug]="true" [endpoint]="'term'">
      </bx-publishing-form>
      <bx-seo-form [parentForm]="editForm" [item]="item"></bx-seo-form>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!editForm.valid">{{isNew ? 'Create' : 'Update'}}</button>
      </div>
    </div>
  </form>
</div>
