<ng-container *ngIf="(currency$ | async) as currency">
  <span *ngIf="!sale_price; else: salePrice">{{ prefix
  }}{{
    price
      | currConvert: 'GBP':currency
      | currency: currency:'symbol'
  }}
    <ng-content></ng-content>
  </span>
  <!-- remove -->
  <ng-template #salePrice>
    <span class="sale-price">Was {{ prefix
    }}{{
      price
        | currConvert: 'GBP':currency
        | currency: currency:'symbol'
    }}
      - Now {{ prefix
    }}{{
      sale_price
        | currConvert: 'GBP':currency
        | currency: currency:'symbol'
    }}
      <ng-content></ng-content>
    </span>
  </ng-template>
</ng-container>
