<form [formGroup]="form">
  <h2 mat-dialog-title>Add Address</h2>
  <div class="content" mat-dialog-content>
    <bx-address-form [parentForm]="form" groupName="shipping" showNames="true" showContact="true"></bx-address-form>
    <div class="set-default">
      <mat-checkbox formControlName="set_default">Set as default address</mat-checkbox>
    </div>
  </div>
  <div mat-dialog-actions>
    <button class="btn btn-solid" mat-dialog-close>Cancel</button>
    <button class="btn btn-success" (click)="addAddress()" [disabled]="!form.valid">Add Address</button>
  </div>
</form>