<div [formGroup]="parentForm" *ngIf="!loading">
  <div [formGroupName]="groupName">
    <div *ngIf="showNames">
      <mat-form-field>
        <input type="text" matInput placeholder="First Name" formControlName="firstName" autocomplete="given-name"
          [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="parentForm.get(groupName).get('firstName').hasError('required')">
          First name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Last Name" formControlName="lastName" autocomplete="family-name"
          [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="parentForm.get(groupName).get('lastName').hasError('required')">
          Last name is required
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input type="text" matInput placeholder="House number and street name" formControlName="address1"
        autocomplete="address-line1" [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="parentForm.get(groupName).get('address1').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Apartment, suite, unit etc. (optional)" formControlName="address2"
        autocomplete="address-line2">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Town / City" formControlName="city" autocomplete="address-level2"
        [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="parentForm.get(groupName).get('city').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="County" formControlName="region" autocomplete="address-level1"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="parentForm.get(groupName).get('region').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <select matNativeControl formControlName="country" class="browser-default" required>
        <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</option>
      </select>
      <mat-error *ngIf="parentForm.get(groupName).get('country').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Postcode" formControlName="postcode" autocomplete="postal-code"
        [errorStateMatcher]="matcher" [required]="postcodeRequired">
      <mat-error *ngIf="parentForm.get(groupName).get('postcode').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="showContact">
      <input type="tel" matInput placeholder="Mobile Phone Number" formControlName="phone" autocomplete="tel"
        [errorStateMatcher]="matcher" required>
      <mat-hint>We need your mobile number in case we need to text you with urgent issues or the courier may need to
        call about your
        delivery.
      </mat-hint>
      <mat-error *ngIf="parentForm.get(groupName).get('phone').hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
  </div>
</div>
