<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-2">403</h1>
          <h4 class="pt-1">Access denied</h4>
          <p class="text-muted">Sorry you don't have permission to view this content. Please contact the site admin to get access.</p>
        </div>
        <button class="btn btn-info btn-block mx-auto" type="button" (click)="_location.back()">Go back</button>
      </div>
    </div>
  </div>
</div>