//Colors
$black: #363636;
$verylightgrey: #f5f5f5;
$lightgrey: #ededed;
$midgrey: #999;
$darkgrey: #666;
$green: #63b20b;
$red: #ce0505;
//Fonts
$defaultFont: 'Roboto', sans-serif;
$displayFont: 'Oswald', sans-serif;
