@import './variables';
@import './mixins';

button {
  border: 0;
  background-color: transparent;
}

.btn,
a.btn {
  text-transform: uppercase;
  font-family: $displayFont;
  background-color: $black;
  color: white;
  border: 0;
  padding: 12px 22px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 300;
  width: 100%;
  margin-bottom: 10px;
  line-height: 14px;
  cursor: pointer;
  .icon {
    width: auto;
    height: 20px;
    fill: white;
  }
  &.btn-success {
    background-color: $green;
  }
  &.btn-danger {
    background-color: $red;
  }
  &.btn-warning {
    background-color: $lightgrey;
    color: $black;
  }
  &.btn-info {
    padding: 8px 16px;
    border-radius: 999em;
    font-size: 11px;
    width: auto;
    margin: 0 auto;
    display: block;
  }
}

a.btn {
  display: block;
  text-align: center;
}

.btn:hover:not(:disabled) {
  background-color: darken($black, 5%);
  &.btn-success {
    background-color: darken($green, 5%);
  }
  &.btn-danger {
    background-color: darken($red, 5%);
  }
  &.btn-warning {
    background-color: $midgrey;
  }
}

.btn:disabled {
  background-color: $midgrey;
  color: $darkgrey;
}

.btn-group {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  .btn {
    margin: 0;
  }
}

.btn-white,
.btn-sort {
  background-color: white;
  color: $black;
  &:hover {
    background-color: $black;
    color: white;
  }
}

.btn-sort {
  border: 1px solid $lightgrey;
}

.btn-toggle {
  margin: 0;
  .btn {
    background-color: $midgrey;
    border: 1px solid $lightgrey;
    margin: -1px -1px 0 0;
    color: $lightgrey;
    position: relative;
    &.active,
    &:hover {
      background-color: $darkgrey;
      color: white;
    }
    &.active:before {
      content: '';
      width: 0px;
      height: 0px;
      border: 0.8em solid transparent;
      position: absolute;
      left: 45%;
      bottom: -20px;
      border-top: 10px solid $darkgrey;
    }
  }
}

.btn-menu {
  margin-top: 21px;
  width: 22px;
  padding: 0;
  .btn__hamburger__line {
    display: block;
    width: 22px;
    height: 2px;
    background-color: $black;
    margin-bottom: 6px;
    transition: all 0.1s;
  }
  .btn__hamburger__line:last-child {
    margin-bottom: 0;
  }
}

.btn-menu.menu-open {
  .btn__hamburger__line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .btn__hamburger__line:nth-child(2) {
    transform: rotate(-45deg);
  }
  .btn__hamburger__line:nth-child(3) {
    opacity: 0;
  }
}

.btn-link {
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
}

.btn-text {
  margin: 1rem 0;
  text-transform: uppercase;
  @include font-size(12, 12);
  text-align: center;
  color: $green;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  i {
    @include font-size(16, 16);
  }
  &.danger {
    color: $red;
  }
}
