@import '~@angular/material/theming';
@import '~@angular/cdk/text-field';
@import 'variables';
@include mat-core();

$my-app-primary: mat-palette($mat-green);
$my-app-accent: mat-palette($mat-green, 500, 900, A100);
$my-app-warn: mat-palette($mat-red);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, sans-serif'
);
@include mat-core($custom-typography);
@include mat-core-theme($my-app-theme);
@include mat-radio-theme($my-app-theme);
@include mat-checkbox-theme($my-app-theme);
@include mat-form-field-theme($my-app-theme);
@include mat-input-theme($my-app-theme);
@include mat-dialog-theme($my-app-theme);
@include mat-menu-theme($my-app-theme);
@include mat-slider-theme($my-app-theme);
@include mat-select-theme($my-app-theme);
@include mat-stepper-theme($my-app-theme);
@include mat-datepicker-theme($my-app-theme);

mat-form-field {
  width: 100%;
}

mat-radio-button {
  .mat-radio-label-content {
    white-space: normal;
  }
}
mat-checkbox {
  .mat-checkbox-layout {
    white-space: normal;
  }
}

.cdk-overlay-container {
  z-index: 10001 !important;
}

.mat-step-header {
  .mat-step-icon {
    background-color: $green;
    color: white;
  }

  .mat-step-icon-not-touched {
    background-color: $midgrey;
    color: white;
  }
  &:nth-of-type(2) {
    .mat-step-icon {
      * {
        display: none;
      }

      &:after {
        content: '1';
      }
    }
  }
}

.mat-dialog-actions {
  flex-wrap: nowrap !important;
}

.mat-dialog-container {
  border-radius: 10px !important;
  border: 2px solid black;
  position: relative;
  overflow: visible !important;
  .arrow-after {
    border-right: 21px solid transparent;
    bottom: -21px;
    position: absolute;
    left: 50%;
    &::before {
      border-right: 20px solid transparent;
      border-top: 20px solid $black;
      bottom: 1px;
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -10px;
    }
    &::after {
      border-right: 16px solid transparent;
      border-top: 16px solid white;
      bottom: 6px;
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -8px;
    }
  }
}

input.cdk-text-field-autofilled {
  @include cdk-text-field-autofill-color(transparent, $green);
}
