<div *ngIf="parentForm; else: noForm" [formGroup]="parentForm">
  <select class="form-control" [formControlName]="field" *ngIf="nested && grouped"
    [attr.multiple]="multiple === true ? '' : null">
    <optgroup [label]="group.title" *ngFor="let group of (terms$ | async)">
      <option [value]="term._id" *ngFor="let term of group.children">{{
        term.title
      }}</option>
    </optgroup>
  </select>
  <select class="form-control" [formControlName]="field" *ngIf="nested && !grouped"
    [attr.multiple]="multiple === true ? '' : null">
    <option [value]="term._id" *ngFor="let term of (terms$ | async)">{{
      term.title
    }}</option>
  </select>
  <select class="form-control" [formControlName]="field" *ngIf="!nested"
    [attr.multiple]="multiple === true ? '' : null">
    <option [ngValue]="" *ngIf="none">None</option>
    <option [value]="term._id" *ngFor="let term of (terms$ | async)">{{
      term.title
    }}</option>
  </select>
</div>
<ng-template #noForm>
  <select class="form-control" [(ngModel)]="selectedTerm" (ngModelChange)="filterChanged($event)"
    *ngIf="nested && grouped" [attr.multiple]="multiple === true ? '' : null">
    <option [ngValue]="undefined">All</option>
    <optgroup [label]="group.title" *ngFor="let group of (terms$ | async)">
      <option [ngValue]="term._id" *ngFor="let term of group.children">{{
        term.title
      }}</option>
    </optgroup>
  </select>
  <select class="form-control" [(ngModel)]="selectedTerm" (ngModelChange)="filterChanged($event)"
    *ngIf="nested && !grouped" [attr.multiple]="multiple === true ? '' : null">
    <option [ngValue]="undefined">All</option>
    <option [ngValue]="term._id" *ngFor="let term of (terms$ | async)">{{
      term.title
    }}</option>
  </select>
  <select class="form-control" [(ngModel)]="selectedTerm" (ngModelChange)="filterChanged($event)" *ngIf="!nested"
    [attr.multiple]="multiple === true ? '' : null">
    <option [ngValue]="undefined">All</option>
    <option [ngValue]="term._id" *ngFor="let term of (terms$ | async)">{{
      term.title
    }}</option>
  </select>
</ng-template>
