@import 'variables';
@import 'mixins';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import 'node_modules/bootstrap/scss/mixins/_grid';

:host {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $verylightgrey;
  z-index: 10000;
  flex-direction: column;
  width: 100%;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.customiser {
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex: 1 0 auto;
}

.customiser-options {
  flex: 0 0 auto;
  margin-top: auto;
  background-color: $verylightgrey;
  position: relative;
  @include media-breakpoint-up(md) {
    flex: 0 1 33.33%;
    max-width: 370px;
    margin-top: 0;
  }
}

.touch-help {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
  z-index: 101;
  .icon {
    fill: white;
    width: 38px;
    height: 50px;
    margin-bottom: 0.5rem;
  }
  p {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include font-size(12, 12);
    font-family: $defaultFont;
    margin: 0 0 0.2rem;
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.bx-tour-card {
  margin: 0;
  .bx-card-footer {
    padding-top: 1rem;
    display: flex;
    margin: 0.5rem -15px;
  }
  button {
    padding: 0 15px;
  }
  button:first-child {
    padding-right: 0;
  }
  .btn-text {
    margin: 0 0 0 auto;
  }
}

::ng-deep .cdk-overlay-backdrop {
  pointer-events: none;
}

.cs-customizerr::-webkit-scrollbar {
  // display: none;
  width: 12px;
  height: 0px;
  background: #f1f1f1;
}
.cs-customizerr::-webkit-scrollbar-thumb {
  background: #c1c1c1
}
.stickytop{
  position: sticky;
  top:0;
  left:0;
}

.customDesignTemplate{
  min-height: calc(100vh - 92px);
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
}
@media screen and (max-width: "767px") {
  .customDesignTemplate{
    min-height: calc(100vh - 286px);
  }
}
