<div class="customiser">
  <bx-toolbar [product]="product" (onClearDesign)="template.setUpTemplate()" (designSaved)="template.saveToAccount()"
    #toolbar></bx-toolbar>
  <bx-template [product]="product" #template></bx-template>
</div>
<div class="customiser-options">
  <div class="touch-help" *ngIf="optionsService.showTouchHelp" (click)="optionsService.setTouchHelp()" (touchstart)="optionsService.setTouchHelp()">
    <div class="content">
      <svg class="icon">
        <use xlink:href="/assets/svg/sprite.svg?v030418#icon-swipe" />
      </svg>
      <p>Swipe left and right to access options</p>
      <p>Got it</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<tour-step-template>
  <ng-template let-step="step">
    <div class="bx-tour-card" bxCard (click)="$event.stopPropagation()">
      <div bxCardContent>
        <h2 bxCardTitle>{{step?.title}}</h2>
        <span [innerHTML]="step?.content"></span>
      </div>
      <div bxCardFooter>
        <button [disabled]="!tourService.hasPrev(step)" (click)="tourService.prev()">
          <fa-icon class="icon" [icon]="['fal', 'chevron-left']" [fixedWidth]="true" size="lg"></fa-icon>
        </button>
        <button [disabled]="!tourService.hasNext(step)" (click)="tourService.next()">
          <fa-icon class="icon" [icon]="['fal', 'chevron-right']" [fixedWidth]="true" size="lg"></fa-icon>
        </button>
        <button class="btn-text bx-end-tour" (click)="tourService.end()">{{step?.endBtnTitle}}</button>
      </div>
    </div>
  </ng-template>
</tour-step-template>
