@import 'variables';
@import 'mixins';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import 'node_modules/bootstrap/scss/mixins/_grid';

:host {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: calc(100% - 1rem);
  border: 1px solid $lightgrey;
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  @include media-breakpoint-up(md) {
    position: static;
  }
}

.edit-info {
  padding: 1rem;
  flex: 1 0 auto;
  text-align: left;
  h4 {
    margin: 0;
  }
}

.edit-image {
  background-color: $lightgrey;
  padding: 5px;
  width: 132px;
  height: 132px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn,
.btn-group {
  margin: 0;
}

.btn-group {
  flex-direction: column;
  .btn {
    width: 44px;
    height: 44px;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon {
      height: auto;
    }
  }
}
