@import 'variables';
@import 'mixins';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import 'node_modules/bootstrap/scss/mixins/_grid';

:host {
  display: block;
  width: 100%;
  position: relative;
  background-color: $verylightgrey;
  .mobile-scroll-arrows {
    .icon {
      position: absolute;
      z-index: 99;
      top: 50%;
      margin-top: 10px;
      display: block;
      color: $black;
    }
    .nav-left {
      left: 0;
    }
    .nav-right {
      right: 0;
    }
  }
  @include media-breakpoint-up(md) {
    height: 100vh;
    margin-bottom: 38px;
    .mobile-scroll-arrows {
      display: none;
    }
  }
}
.add-to-cart {
  margin: 0;
  position: static;
  &:disabled {
    background-color: $red;
    color: white;
  }
  &.hide-mobile {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
  @include media-breakpoint-up(md) {
    width: 33.33%;
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 370px;
    z-index: 10002;
  }
}

.scroll-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 40px);
  margin-left: 20px;
  scroll-behavior: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  scroll-snap-type: x mandatory;
  @include media-breakpoint-up(md) {
    display: block;
    height: calc(100vh - 38px);
    height: calc(var(--vh, 1vh) * 100 - 38px);
    width: 100%;
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  &.scrolled {
    scroll-behavior: smooth;
  }
  &.hide-mobile {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $verylightgrey;
  margin-right: 2px;
  margin-bottom: 0;
  padding: 1rem;
  min-width: 180px;
  cursor: pointer;
  scroll-snap-align: center;
  h4 {
    margin: 0;
    text-align: center;
    @include font-size(16, 16);
  }

  .option-icon {
    max-width: 150px;
    display: block;
    margin: 0 auto;
  }

  p.required,
  p.selected {
    margin: 0.2rem 0 0;
    text-transform: uppercase;
    @include font-size(12, 12);
    text-align: center;
  }
  .required {
    color: $red;
  }
  .selected {
    color: $green;
  }
  @include media-breakpoint-up(md) {
    padding: 2rem;
    margin-right: 0;
    margin-bottom: 2px;
  }
}
