<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add production picture
    </h4>
    <button type="button" class="close pull-right" (click)="hideProductionModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [hidden]="saving">
    <form [formGroup]="productionForm" (ngSubmit)="sendEmail(productionForm.value)">
      <bx-form-field label="Production type">
        <ng-select [items]="emails$ | async" [clearable]="false" [hideSelected]="true" bindLabel="title" bindValue="title" placeholder="No email selected"
          formControlName="type" (change)="emailSelected($event)"></ng-select>
      </bx-form-field>
      <div [hidden]="!productionForm.get('type').value">
        <bx-form-field label="Description">
          <angular-tinymce formControlName="description" [settings]="tinymce"></angular-tinymce>
        </bx-form-field>
        <bx-multi-image-upload title="Production Pictures" [config]="dropzone_config"></bx-multi-image-upload>
        <button class="btn btn-success">Send Email</button>
      </div>
    </form>
  </div>
  <div class="modal-body" [hidden]="!saving">
    <h2>Saving picture...</h2>
  </div>
</div>
