<div class="options-panel" *ngIf="style$ | async as style">
  <bx-custom-scroll-container>
    <h4 class="group-title">{{ style.title }}</h4>
    <div class="options-content">
      <span [innerHTML]="style.description"></span>
    </div>
    <div
      class="option-box"
      [ngClass]="{ selected: option._id === selectedOption?._id }"
      *ngFor="let option of style.options"
      (click)="optionSelected(option)"
    >
      <img [bxLazysizes]="option.image.key" *ngIf="option.image" />
      <div class="content">
        <h3>{{ option.title }}</h3>
        <h4 *ngIf="option.subtitle">{{ option.subtitle }}</h4>
        <h4 *ngIf="option.price > 0">
          +
          <bx-price [price]="option.price"></bx-price>
        </h4>
      </div>
    </div>
  </bx-custom-scroll-container>
  <bx-actions
    (designCancel)="cancel()"
    (designSave)="save()"
    [validated]="validated"
  ></bx-actions>
</div>
