@import 'variables';
@import 'mixins';

ul.inspire-list {
  display: flex;
  gap: 20px;
}

.nav-dropdown {
  display: inline-block;
  .nav-dropdown-items {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    right: 0;
  }
  &.open {
    .nav-dropdown-items {
      display: block;
      min-width: 180px;
    }
    .nav-mega-dropdown-items {
      visibility: visible;
    }
  }
  .nav-mega-dropdown-items {
    visibility: hidden;
    position: absolute;
    background-color: #000;
    opacity: 0.9;
    padding: 30px 0;
    margin: 1px 0 0;
    right: 0;
    left: 0;
    width: 100%;
    top: 70%;
    text-align: left;
    border-bottom: 1px solid lighten($midgrey, 33);
    .row {
      max-width: 900px;
    }
    h4 {
      margin: 0 0 1rem;
      // color: $midgrey;
      color: #fff;
      @include font-size(16, 16);
    }
    ul {
   
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0;
        a {
          // color: $black;
          color: #fff;
          margin-top: 8px;
          text-transform: uppercase;
          // font-family: $displayFont;
          font-family: "Poppins", sans-serif;
          @include font-size(14, 14);
          padding: 0.2rem 0;
          display: block;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }
}

ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 60px;
  > li {
    display: inline-block;
    padding: 0 10px;
    span,
    span a,
    a {
      color:#fff;
      // font-family: $displayFont;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        // color: $green;
        color:#ff3a3a;
      }
    }
    > .nav-parent {
      height: 60px;
      line-height: 60px;
    }
    a.active {
      // color: $green;
      color:#ff3a3a;
    }
  }
}

