<div class="video-wrapper">
  <video
    poster="{{ options.poster }}"
    preload="metadata"
    [attr.controls]="showControls ? true : null"
    [attr.loop]="loop ? true : null"
    #videoPlayer
  >
    <source src="{{ options.webm }}" type="video/webm" *ngIf="options.webm" />
    <source src="{{ options.mp4 }}" type="video/mp4" *ngIf="options.mp4" />
    <source src="{{ options.ogv }}" type="video/ogv" *ngIf="options.ogv" />
  </video>
  <button
    class="play-button"
    bxDebounceClick
    (debounceClick)="playVideo()"
    *ngIf="!play"
  >
    <fa-icon
      class="icon"
      [icon]="['fas', 'play-circle']"
      [fixedWidth]="true"
      size="4x"
    ></fa-icon>
  </button>
</div>
