<div class="animated fadeIn" *ngIf="!loading">
  <form class="row" [formGroup]="editForm" (ngSubmit)="updateItem(editForm.value)">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">{{isNew ? 'New Page' : 'Edit ' + editForm.controls['title'].value}}</div>
        <div class="card-block">
          <bx-form-field label="Title">
            <input type="text" class="form-control" placeholder="Title" formControlName="title" bosInputRef>
          </bx-form-field>
          <bx-form-field label="Description">
            <angular-tinymce formControlName="description" [settings]="tinymce" bosInputRef></angular-tinymce>
          </bx-form-field>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="club_kit"> Club kit?
              </label>
            </div>
          </div>
          <bx-form-field label="Category" *ngIf="editForm.controls['club_kit'].value; else notClubKit">
            <bx-category-select category="58ac1318dc142c612ab61fad" [nested]="false" parent="5d5678c5c3d7d431d3c00b9a"
              [parentForm]="editForm" [item]="item" field="product_type"></bx-category-select>
          </bx-form-field>
          <ng-template #notClubKit>
            <bx-form-field label="Category">
              <bx-category-select category="58ac1318dc142c612ab61fad" [nested]="false" parent="58ac133edc142c612ab61fb0"
                [parentForm]="editForm" [item]="item" field="product_type"></bx-category-select>
            </bx-form-field>
          </ng-template>

          <bx-form-field label="Colours">
            <angular-tinymce formControlName="colours" [settings]="tinymce" bosInputRef></angular-tinymce>
          </bx-form-field>
          <bx-form-field label="Fabrics">
            <angular-tinymce formControlName="fabrics" [settings]="tinymce" bosInputRef></angular-tinymce>
          </bx-form-field>
          <bx-form-field label="Price">
            <input type="tel" class="form-control" placeholder="Price" formControlName="price" bosInputRef>
          </bx-form-field>
          <bx-form-field label="Parent SKU">
            <input type="text" class="form-control" placeholder="Parent SKU" formControlName="parent_sku" bosInputRef>
          </bx-form-field>
        </div>
      </div>
      <bx-ready-made-attributes [form]="editForm" (onAddAttribute)="addAttribute($event)"
        (onRemoveAttribute)="removeAttribute($event)"></bx-ready-made-attributes>
      <div class="card" formArrayName="variations">
        <div class="card-header">Variations
          <div class="card-actions">
            <a (click)="addVariation()">
              <i class="icon-plus icons font-xl"></i>
            </a>
          </div>
        </div>
        <div class="card-block" [ngStyle]="{'max-height': '600px', 'overflow-y': 'auto'}">
          <accordion [closeOthers]="true" dragula="product-variation"
            [(dragulaModel)]="editForm.controls['variations']['controls']">
            <accordion-group *ngFor="let variation of editForm.get('variations')['controls']; let i=index"
              [attr.data-id]="variation.controls._id.value" [attr.data-index]="i" #group [formGroupName]="i">
              <div accordion-heading>
                <i *ngIf="variation.controls._id.value" class="icon-cursor-move icons font-xl mr-2"
                  [ngClass]="{'ignore-item': !variation.controls._id.value}"></i>
                <span *ngIf="variation.controls.title.value;else other_title">{{variation.controls.title.value}} -
                  {{variation.controls.sku.value}}</span>
                <ng-template #other_title>New variation..</ng-template>
                <i class="pull-right float-xs-right"
                  [ngClass]="{'icon-arrow-up': group?.isOpen, 'icon-arrow-down': !group?.isOpen}"></i>
              </div>
              <!-- content -->
              <bx-ready-made-variation-edit
                [variation]="variation.controls._id.value ? getVariation(variation.controls._id.value) : null"
                [attributes]="editForm.controls['attributes'].value"
                [image]="variation.controls._id.value ? getVariation(variation.controls._id.value).image : null"
                [group]="editForm.get('variations')['controls'][i]" [index]="i"></bx-ready-made-variation-edit>
              <button *ngIf="!variation.controls._id.value" class="btn btn-danger pull-right"
                (click)="removeVariation(i)">Remove</button>
              <div class="clearfix"></div>
            </accordion-group>
          </accordion>
        </div>
      </div>
      <!-- <bx-multi-image-upload title="Product Images" [config]="dropzone_config" [images]="item.images"></bx-multi-image-upload> -->
      <bx-publishing-form [parentForm]="editForm" [item]="item" [hasSlug]="!isNew" [endpoint]="'product-display'">
      </bx-publishing-form>
      <bx-seo-form [parentForm]="editForm" [item]="item"></bx-seo-form>
    </div>
    <div class="col-md-3">
      <bx-single-image-upload title="Main Image" [config]="dropzone_config" [image]="item.image"
        (imageAdded)="imageAdded($event)" (imageRemoved)="imageRemoved()"></bx-single-image-upload>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!editForm.valid">{{isNew ? 'Create' : 'Update'}}</button>
      </div>
    </div>
  </form>
</div>