.form-control {
  &.ng-valid:not(.ng-pristine) {
    border-color: $form-feedback-valid-color;
  }
  &.ng-invalid:not(.ng-pristine) {
    border-color: $form-feedback-invalid-color;
  }
}

hr {
  border-top-width: 5px;
}
