@import 'variables';

:host {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: $displayFont;
  text-transform: uppercase;
  &.error {
    background-color: $red;
  }
  &.success {
    background-color: $green;
  }
  .icon {
    color: white;
  }
}
