<form class="dashboard-form" [formGroup]="feedbackForm" (ngSubmit)="save(feedbackForm.value)">
  <h1>Feedback</h1>
  <p>If you have any feedback, we would love to hear from you.</p>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Enter email" formControlName="email" required autocomplete="email">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Enter your feedback here" matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="10"
      formControlName="details" required></textarea>
  </mat-form-field>
  <button class="btn" type="submit" [disabled]="!feedbackForm.valid">Submit</button>
</form>
