<h2>Credit / Debit Card Payment</h2>
<div [formGroup]="parentForm">
  <div *ngIf="cards && cards.length && !addCard">
    <ng-select [items]="cards" [searchable]="false" [clearable]="false" bindValue="id" formControlName="card">
      <ng-template ng-label-tmp let-item="item">
        <div class="card">
          <div class="card-image">
            <fa-icon class="card-icon" [icon]="['fab', formatCardName(item.card.brand)]" [fixedWidth]="true" size="2x">
            </fa-icon>
          </div>
          <div class="card-details">
            <br>Card ending: {{item.card.last4}}
            <br> Exp: {{item.card.exp_month}}/{{item.card.exp_year}}
          </div>
        </div>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index">
        <div class="card">
          <div class="card-image">
            <fa-icon class="card-icon" [icon]="['fab', formatCardName(item.card.brand)]" [fixedWidth]="true" size="2x">
            </fa-icon>
          </div>
          <div class="card-details">
            <br>Card ending: {{item.card.last4}}
            <br> Exp: {{item.card.exp_month}}/{{item.card.exp_year}}
          </div>
        </div>
      </ng-template>
    </ng-select>
    <div class="next-box">
      <div class="buttons">
        <button class="btn-text" (click)="addNewCard()">Add Card</button>
      </div>
    </div>
  </div>
  <div [hidden]="!addCard">
    <mat-form-field>
      <input type="text" matInput placeholder="Cardholder name" formControlName="name" name="ccname"
        autocomplete="cc-name">
    </mat-form-field>
    <div class="stripe-form">
      <div class="field">
        <div id="card-element" class="input empty" #card></div>
        <label for="card-element">Credit or debit card</label>
        <div class="baseline"></div>
      </div>
    </div>
    <div class="card-error">
      {{cardError}}
    </div>
    <p class="save-card">
      <mat-checkbox formControlName="save_card">Save card to use on future purchases</mat-checkbox>
    </p>
  </div>
</div>
