<div [formGroup]="group">
  <bx-form-field label="Name">
    <input type="text" class="form-control" placeholder="Name" formControlName="name" bosInputRef>
  </bx-form-field>
  <bx-form-field label="Thai Name">
    <input type="text" class="form-control" placeholder="Thai Name" formControlName="thai_name" bosInputRef>
  </bx-form-field>
  <bx-form-field label="Material Group">
    <select class="form-control" formControlName="material_group">
      <option [value]="group._id" *ngFor="let group of material_groups">{{group.title}}</option>
    </select>
  </bx-form-field>
  <bx-form-field label="Area size">
    <select class="form-control" formControlName="area_size">
      <option [value]="area._id" *ngFor="let area of design_areas">{{area.title}} - {{area.price}}</option>
    </select>
  </bx-form-field>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" formControlName="muay_thai"> Muay Thai?
      </label>
    </div>
  </div>
  <bx-form-field label="Pre set material">
    <bx-ng-select-api #apiSearch endpoint="material" [query]="{published: true}">
      <ng-select [items]="apiSearch.dropDownItems" [clearable]="true" [multiple]="false" bindLabel="title"
        [typeahead]="apiSearch.itemTypeahead" [hideSelected]="true" [loading]="apiSearch.itemLoading"
        placeholder="No material selected" formControlName="default_material">
        <ng-template ng-label-tmp let-item="item">
          <b>{{item.title}}</b> {{item.materialType?.title}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <div>{{item.title}}</div>
          <small>{{item.materialType?.title}}</small>
        </ng-template>
      </ng-select>
    </bx-ng-select-api>
  </bx-form-field>
</div>
