@import 'mixins';
@import 'variables';

.page-info {
  display: block;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid lighten($midgrey, 25);
  h3 {
    text-align: center;
  }
  ::ng-deep p,
  ::ng-deep a {
    color: $darkgrey;
    @include font-size(16, 18);
  }
}
