<div class="options-panel">
  <bx-custom-scroll-container>
    <div class="option-panel">
      <div class="content" [formGroup]="flagForm">
        <h4 [hidden]="!hasSizes">Select size</h4>
        <mat-radio-group class="graphic-sizes" formControlName="size">
          <mat-radio-button
            class="option"
            *ngFor="let size of flagSizes$ | async"
            [value]="size.title"
          >
            {{ size.title }} - <bx-price [price]="size.price"></bx-price
            ><br /><small>{{ size.description }}</small>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="material-colours">
      <div
        class="material"
        [ngClass]="{
          selected: selectedFlag && flag._id === selectedFlag.flag._id
        }"
        *ngFor="let flag of flags"
        (click)="flagSelected(flag)"
      >
        <img [bxLazysizes]="flag.image.key" />
      </div>
    </div>
  </bx-custom-scroll-container>
  <bx-actions
    (designCancel)="cancel()"
    (designSave)="save()"
    (designDelete)="delete()"
    [validated]="validated"
    [canDelete]="canDelete"
  >
    <div class="options-selection">
      <h5>Flag</h5>
      <h5 *ngIf="!selectedFlag; else selectedPrice">
        <bx-price [price]="price"></bx-price>
      </h5>
      <ng-template #selectedPrice>
        <h5>
          {{ selectedFlag.flag.title }}
        </h5>
        <h5>
          <bx-price [price]="price"></bx-price>
        </h5>
      </ng-template>
    </div>
  </bx-actions>
</div>
