@import '../../scss/swatch';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.graphic-sizes {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 1rem;
  .option {
    margin: 5px 0;
  }
}
