<bx-list-view pageTitle="Graphic Prices" (confirmDelete)="deleteItem($event)" #listView>
  <div list>
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th class="fit"></th>
          <th>Title</th>
          <th>Type</th>
          <th>Categories</th>
          <th class="fit"></th>
        </tr>
      </thead>
      <tbody [dragula]='"graphic-prices"' [dragulaModel]="items" #bag>
        <tr bx-graphic-price-item *ngFor="let item of items; let i = index" [item]="item" (onDeleted)="listView.deleteConfirm($event)"   [attr.data-id]="item._id" [attr.data-index]="i"></tr>
      </tbody>
    </table>
    <div *ngIf="(totalCount$ | async) as totalCount">
      <pagination [maxSize]="maxSize" [totalItems]="totalCount" [(ngModel)]="page" [itemsPerPage]="limit" (pageChanged)="goToPage($event)"></pagination>
    </div>
  </div>
</bx-list-view>