@import 'variables';
@import 'mixins';

.show-discount {
  margin: 1rem auto;
  text-align: center;
  display: block;
  color: $green;
  @include font-size(16, 16);
}

p.error {
  color: $red;
  @include font-size(13, 14);
  font-weight: bold;
}
