/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Roboto:400,700&display=swap');
@import './scss/normalize';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/utilities';
@import 'node_modules/bootstrap/scss/breadcrumb';
@import './scss/variables';
@import './scss/mixins';
@import './scss/partials';
@import './scss/forms';
@import './scss/buttons';
@import './scss/material';
@import './scss/dropzone';
@import './scss/ng-select';
@import './scss/toastr';

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: $defaultFont;
  background-color: $verylightgrey;
  color: $black;
  margin: 0;
}

body.detail-view {
  background-color: white;
}

body.modal {
  overflow: hidden;
  overflow-y: hidden !important;
  position: fixed;
  width: 100%;
}

img,
svg,
video {
  max-width: 100%;
  height: auto;
}

.svg_select_boundingRect {
  fill: transparent;
  pointer-events: none;
}

.loading-splash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem;
  text-transform: uppercase;
  font-family: $displayFont;
  color: $black;
}

h1 {
  font-weight: 600;
  @include fluid-type(font-size, 320px, 1400px, 18px, 26px);
}

h2 {
  @include fluid-type(font-size, 320px, 1400px, 18px, 25px);
}

h3 {
  @include fluid-type(font-size, 320px, 1400px, 16px, 21px);
}

h4 {
  @include fluid-type(font-size, 320px, 1400px, 14px, 18px);
}

h5 {
  @include fluid-type(font-size, 320px, 1400px, 11px, 14px);
}

h2,
h3,
h4,
h5 {
  font-weight: 400;
  &.danger {
    color: $red;
  }
}

h4.grey {
  color: $midgrey;
}

p {
  line-height: 1.5rem;
  margin-top: 0;
  a {
    color: $black;
    text-decoration: underline;
  }
  &.danger {
    color: $red;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 1);
}

a {
  text-decoration: none;
  color: $black;
  p,
  h1,
  h2,
  h3,
  h4 {
    text-decoration: none;
    color: $black;
  }
}

a:visited {
  text-decoration: none;
  color: $black;
}

.eq-height {
  display: flex;
  flex-flow: column;
}

.post-date {
  padding: 8px 0;
  text-transform: uppercase;
  font-size: 11px;
  color: $black;
}

.col-spacer {
  margin: 0 0.5rem;
}

.page-header {
  h1 {
    @include font-size(24, 24);
  }
  p {
    color: $darkgrey;
    @include font-size(12, 14);
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.breadcrumb {
  background-color: transparent;
  padding: 0.75rem 0;
}

.touranchor--is-active {
  border: 2px dashed $green;
}
