<bx-list-view pageTitle="Custom Names" (confirmDelete)="deleteItem($event)" #listView>
  <div list>
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Title</th>
          <th class="fit">Type</th>
          <th class="fit">Category</th>
          <th class="fit">Price</th>
          <th class="fit"></th>
        </tr>
      </thead>
      <tbody>
        <tr bx-custom-names-item *ngFor="let item of items" [item]="item" (onDeleted)="listView.deleteConfirm($event)"></tr>
      </tbody>
    </table>
    <div *ngIf="(totalCount$ | async) as totalCount">
      <pagination [maxSize]="maxSize" [totalItems]="totalCount" [(ngModel)]="page" [itemsPerPage]="limit" (pageChanged)="goToPage($event)"></pagination>
    </div>
  </div>
</bx-list-view>
