<div class="card">
  <div class="card-header">Seo</div>
  <div class="card-block" [formGroup]="parentForm">
    <div formGroupName="seo">
      <bx-form-field label="Seo Title">
        <input type="text" class="form-control" placeholder="Enter title" formControlName="title" bosInputRef>
      </bx-form-field>
      <bx-form-field label="Page Title">
        <input type="text" class="form-control" placeholder="Enter title" formControlName="page_title" bosInputRef>
        <small class="form-text text-muted">Using this value to create an alternative page title</small>
      </bx-form-field>
      <bx-form-field label="Canonical URL">
        <input type="text" class="form-control" placeholder="Enter URL" formControlName="canonical" bosInputRef>
      </bx-form-field>
      <bx-form-field label="Seo description">
        <textarea class="form-control" placeholder="Enter seo description ..." formControlName="description" bosInputRef></textarea>
        <span>{{seoData && seoData.controls['description'].value ? seoData.controls['description'].value.length : 0}} / 160 characters</span>
      </bx-form-field>
    </div>
  </div>
</div>
