<div class="animated fadeIn" *ngIf="!loading">
  <form class="row" [formGroup]="editForm" (ngSubmit)="updateItem(editForm.value)">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">{{isNew ? 'New Order' : 'Edit Order #' + item.orderid}}</div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-12">
              <bx-form-field label="Email">
                <input type="email" class="form-control" placeholder="Email" formControlName="email" autocomplete="new-password">
              </bx-form-field>
            </div>
            <div class="col-md-6" formGroupName="shipping">
              <h4>Shipping address</h4>
              <bx-form-field label="First Name">
                <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" autocomplete="new-password">
              </bx-form-field>
              <bx-form-field label="Last Name">
                <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" autocomplete="new-password">
              </bx-form-field>
              <bx-form-field label="Address Line 1">
                <input type="text" class="form-control" placeholder="Address Line 1" formControlName="address1" autocomplete="new-password">
              </bx-form-field>
              <bx-form-field label="Address Line 2">
                <input type="text" class="form-control" placeholder="Address Line 2" formControlName="address2" autocomplete="new-password">
              </bx-form-field>
              <bx-form-field label="City">
                <input type="text" class="form-control" placeholder="City" formControlName="city" autocomplete="new-password">
              </bx-form-field>
              <bx-form-field label="Region">
                <input type="text" class="form-control" placeholder="Region" formControlName="region" autocomplete="new-password">
              </bx-form-field>
              <bx-form-field label="Country">
                <bx-ng-select-api #apiSearch endpoint="country" [query]="{'$select': ['name', 'cca2', 'altSpellings'], '$sort': { name: 1 }}">
                  <ng-select [items]="apiSearch.dropDownItems" [clearable]="false" bindLabel="name" [typeahead]="apiSearch.itemTypeahead" [hideSelected]="true"
                    [loading]="apiSearch.itemLoading" placeholder="No country selected" formControlName="country" autocomplete="new-password"
                    (change)="onShippingChange($event)"></ng-select>
                </bx-ng-select-api>
              </bx-form-field>
              <bx-form-field label="Postcode">
                <input type="text" class="form-control" placeholder="Postcode" formControlName="postcode" autocomplete="new-password">
              </bx-form-field>
              <bx-form-field label="Phone">
                <input type="tel" class="form-control" placeholder="Phone" formControlName="phone" autocomplete="new-password">
              </bx-form-field>
            </div>
            <div class="col-md-6" formGroupName="billing">
              <h4>Billing address</h4>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="copy" id="copyAddress">
                <label class="form-check-label" for="copyAddress">
                  Same as shipping address
                </label>
              </div>
              <div *ngIf="!sameAddress">
                <bx-form-field label="Address Line 1">
                  <input type="text" class="form-control" placeholder="Address Line 1" formControlName="address1" autocomplete="new-password">
                </bx-form-field>
                <bx-form-field label="Address Line 2">
                  <input type="text" class="form-control" placeholder="Address Line 2" formControlName="address2" autocomplete="new-password">
                </bx-form-field>
                <bx-form-field label="City">
                  <input type="text" class="form-control" placeholder="City" formControlName="city" autocomplete="new-password">
                </bx-form-field>
                <bx-form-field label="Region">
                  <input type="text" class="form-control" placeholder="Region" formControlName="region" autocomplete="new-password">
                </bx-form-field>
                <bx-form-field label="Country">
                  <bx-ng-select-api #apiSearch endpoint="country" [query]="{'$select': ['name', 'cca2', 'altSpellings'], '$sort': { name: 1 }}">
                    <ng-select [items]="apiSearch.dropDownItems" [clearable]="false" bindLabel="name" [typeahead]="apiSearch.itemTypeahead" [hideSelected]="true"
                      [loading]="apiSearch.itemLoading" placeholder="No country selected" formControlName="country" autocomplete="new-password"
                      (change)="onBillingChange($event)"></ng-select>
                  </bx-ng-select-api>
                </bx-form-field>
                <bx-form-field label="Postcode">
                  <input type="text" class="form-control" placeholder="Postcode" formControlName="postcode" autocomplete="new-password">
                </bx-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!editForm.valid">{{isNew ? 'Create' : 'Update'}}</button>
      </div>
    </div>
  </form>
</div>
