<div class="row" *ngIf="editService.order">
  <div class="col-lg-9 print-full-width">
    <div class="card">
      <div class="card-header">
        <h5 class="text-uppercase text-danger m-0"><strong>{{editService.order.order_type}}
            Order
            #{{editService.order.orderid}}</strong></h5>
        <div class="card-actions">
          <a [routerLink]="['../', editService.order.links.prev]">
            <i class="icon-arrow-left icons font-xl"></i>
          </a>
          <a [routerLink]="['../', editService.order.links.next]">
            <i class="icon-arrow-right icons font-xl"></i>
          </a>
          <a [routerLink]="['edit']">
            <i class="icon-pencil icons font-xl"></i>
          </a>
        </div>
      </div>
      <div class="card-block">
        <div class="row mb-2">
          <div class="col-sm-4" *ngIf="editService.order.billing; else noBilling">
            <h6 class="mb-1">Billing Address:</h6>
            <div>
              <strong>{{editService.order.billing.firstName}} {{editService.order.billing.lastName}}</strong>
            </div>
            <div>{{editService.order.billing.address1}}</div>
            <div>{{editService.order.billing.address2}}</div>
            <div>{{editService.order.billing.city}}</div>
            <div>{{editService.order.billing.region}}</div>
            <div>{{editService.order.billing.country}}</div>
            <div>{{editService.order.billing.postcode}}</div>
          </div>
          <ng-template #noBilling>
            <div class="col-sm-4" *ngIf="editService.order.shipping">
              <h6 class="mb-1">Billing Address:</h6>
              <div>{{editService.order.shipping.address1}}</div>
              <div>{{editService.order.shipping.address2}}</div>
              <div>{{editService.order.shipping.city}}</div>
              <div>{{editService.order.shipping.region}}</div>
              <div>{{editService.order.shipping.country}}</div>
              <div>{{editService.order.shipping.postcode}}</div>
            </div>
          </ng-template>
          <div class="col-sm-4" *ngIf="editService.order.shipping">
            <h6 class="mb-1">Shipping Address:</h6>
            <div>
              <strong>{{editService.order.shipping.firstName}} {{editService.order.shipping.lastName}}</strong>
            </div>
            <div>{{editService.order.shipping.address1}}</div>
            <div>{{editService.order.shipping.address2}}</div>
            <div>{{editService.order.shipping.city}}</div>
            <div>{{editService.order.shipping.region}}</div>
            <div>{{editService.order.shipping.country}}</div>
            <div>{{editService.order.shipping.postcode}}</div>
          </div>
          <div class="col-sm-4 ml-auto">
            <h6 class="mb-1">Order Details:</h6>
            <div>Order
              <strong>#{{editService.order.orderid}}</strong>
            </div>
            <div>Order date: {{editService.order.checkoutDate | date:'dd/MM/yy HH:mm':'Z' }}</div>
            <div>Due date: {{editService.order.dueDate | date:'dd/MM/yy':'Z' }}</div>
            <div>Send date: {{editService.order.sendByDate | date:'dd/MM/yy':'Z' }}</div>
            <div>Status: {{editService.order.status}}</div>
            <div class="text-success" *ngIf="editService.order.jobCardIssuedDate">Job Card Issued:
              {{editService.order.jobCardIssuedDate | date:'dd/MM/yy HH:mm':'Z'}}</div>
            <div *ngIf="editService.order.shipping && editService.order.email; else ownerEmail">Email:
              {{editService.order.email}}</div>
            <ng-template #ownerEmail>
              <div *ngIf="editService.order.owner">Email: {{editService.order.owner.email}}</div>
            </ng-template>
            <div *ngIf="editService.order.shipping">Phone: {{editService.order.shipping.phone}}</div>
            <div *ngIf="editService.order.survey">Survey: {{editService.order.survey}}</div>
          </div>
        </div>
        <div class="table-responsive mt-5">
          <table class="table">
            <thead>
              <tr>
                <th class="center">
                  <button class="btn icon" (click)="openEditLineItem(null)">
                    <i class="icon-plus icons font-xl"></i>
                  </button>
                </th>
                <th>Product</th>
                <th class="center">Quantity</th>
                <th class="right">Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody bx-order-line-item [item]="item" [order]="editService.order" *ngFor="let item of editService.items"
              (editItem)="openEditLineItem($event)">
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6 ml-auto">
            <table class="table table-clear">
              <tbody>
                <tr>
                  <td class="left ">
                    <strong>Subtotal</strong>
                  </td>
                  <td class="right ">{{editService.order.subtotal | currency:'GBP':'symbol'}}</td>
                </tr>
                <tr>
                  <td class="left ">
                    <strong>Goods Total</strong>
                  </td>
                  <td class="right ">{{editService.order.goods_total | currency:'GBP':'symbol'}}</td>
                </tr>
                <tr>
                  <td class="left ">
                    <strong>Design Total</strong>
                  </td>
                  <td class="right ">{{editService.order.design_total | currency:'GBP':'symbol'}}</td>
                </tr>
                <tr *ngIf="editService.order.discountAmount> 0">
                  <td class="left">
                    <strong>Discount
                      <span *ngIf="editService.order.discountPercent"> ({{editService.order.discountPercent}}%)</span>
                    </strong>
                    <span *ngIf="editService.order.discountCode">
                      <br>{{editService.order.discountCode}}</span>
                  </td>
                  <td class="right">-{{editService.order.discountAmount | currency:'GBP':'symbol'}}
                  </td>
                </tr>
                <tr *ngIf="editService.order.voucher_amount> 0">
                  <td class="left">
                    <strong>Voucher</strong>
                    <span *ngIf="editService.order.voucher_code">
                      <br>{{editService.order.voucher_code}}</span>
                    <span *ngFor="let voucher of editService.order.vouchers">
                      <br>{{voucher.code}}</span>
                  </td>
                  <td class="right">-{{editService.order.voucher_amount | currency:'GBP':'symbol'}}
                  </td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>Shipping
                      <br>{{editService.order.shippingmethod}}</strong>
                    <div>
                      <button class="btn btn-link" (click)="editShipping()">Edit Shipping</button>
                    </div>
                  </td>
                  <td class="right">{{editService.order.shippingprice | currency:'GBP':'symbol'}}</td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>Total</strong>
                  </td>
                  <td class="right">
                    <strong>{{editService.order.total | currency:'GBP':'symbol'}}</strong>
                  </td>
                </tr>
                <tr [class.table-danger]="outstandingBalance()" [class.table-success]="!outstandingBalance()">
                  <td class="left">
                    <strong>Balance</strong>
                  </td>
                  <td class="right">
                    <strong>{{editService.order.balance | currency:'GBP':'symbol'}}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="row" *ngIf="outstandingBalance()">
          <div class="col-lg-4 col-sm-6 ml-auto">
            <button class="btn btn-block btn-danger" (click)="openPaymentRequest()">Request payment</button>
          </div>
        </div> -->
        <div *ngIf="editService.order.comments">
          <h3>Customer Comments</h3>
          <span [innerHTML]="editService.order.comments"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 no-print">
    <bx-order-actions [order]="editService.order" *ngIf="editService.order"></bx-order-actions>
    <bx-order-custom-item class="card" [design]="item.custom_design" *ngFor="let item of customItems()"></bx-order-custom-item>
  </div>
</div>
<div class="row" *ngIf="editService.order">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">Comments</div>
      <div class="card-block no-print">
        <bx-order-comments [order]="editService.order"></bx-order-comments>
      </div>
    </div>
  </div>
</div>
<bx-production-pictures class="row no-print" [order]="editService.order" [productions]="editService.productions" *ngIf="editService.order"></bx-production-pictures>
<bx-order-payments class="row no-print" [payments]="editService.payments" [order]="editService.order" *ngIf="editService.order"></bx-order-payments>
