<td>{{user.firstName}}</td>
<td>{{user.lastName}}</td>
<td>{{user.email}}</td>
<td>{{user.roles}}</td>
<td class="fit">
  <div class="btn-group" dropdown container="body" placement="bottom right">
    <button [routerLink]="[user.userid, 'edit']" type="button" class="btn btn-sm btn-success">Edit</button>
    <button type="button" dropdownToggle class="btn btn-sm btn-success dropdown-toggle dropdown-toggle-split">
      <span class="caret"></span>
      <span class="sr-only">Split button!</span>
    </button>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
      <li role="menuitem">
        <a class="dropdown-item" href="javascript:;" (click)="deleteUser(user.userid)">Delete</a>
      </li>
    </ul>
  </div>
</td>
