<bx-list-view pageTitle="Users" (confirmDelete)="deleteItem($event)" #listView>
  <div class="row mb-1" filter>
    <div class="col-md-4 offset-md-8">
      <div class="input-group">
        <span class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-search"></i>
          </span>
        </span>
        <input #term [(ngModel)]="terms" (keyup)="search(term.value)" type="text" class="form-control" placeholder="Title" />
      </div>
    </div>
  </div>
  <div list>
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>{{'LABEL.FIRSTNAME' | translate}}</th>
          <th>{{'LABEL.LASTNAME' | translate}}</th>
          <th>{{'LABEL.EMAIL' | translate}}</th>
          <th>{{'LABEL.ROLES' | translate}}</th>
          <th class="fit"></th>
        </tr>
      </thead>
      <tbody>
        <tr bx-user-item *ngFor="let user of items" [user]="user" (onDeleted)="listView.deleteConfirm($event)"></tr>
      </tbody>
    </table>
    <div *ngIf="(totalCount$ | async) as totalCount">
      <pagination [maxSize]="maxSize" [totalItems]="totalCount" [(ngModel)]="page" [itemsPerPage]="limit" (pageChanged)="goToPage($event)"></pagination>
    </div>
  </div>
</bx-list-view>
