<div class="btn-group" dropdown placement="bottom right" *ngIf="canDelete; else edit">
  <button [routerLink]="[item._id, 'edit']" type="button" class="btn btn-sm btn-success">{{ 'BUTTON.EDIT' | translate }}</button>
  <button type="button" dropdownToggle class="btn btn-sm btn-success dropdown-toggle dropdown-toggle-split">
    <span class="caret"></span>
    <span class="sr-only">Split button!</span>
  </button>
  <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
    <li role="menuitem">
      <a class="dropdown-item" href="javascript:;" (click)="delete(item._id)">{{ 'BUTTON.DELETE' | translate }}</a>
    </li>
  </ul>
</div>
<ng-template #edit>
  <button [routerLink]="[item._id, 'edit']" type="button" class="btn btn-sm btn-success">{{ 'BUTTON.EDIT' | translate }}</button>
</ng-template>
