<div class="animated fadeIn" *ngIf="!loading">
  <form class="row" [formGroup]="editForm" (ngSubmit)="updateItem(editForm.value)">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">{{isNew ? 'New Flag' : 'Edit ' + editForm.controls['title'].value}}</div>
        <div class="card-block">
          <bx-form-field label="Title">
            <input type="text" class="form-control" placeholder="Title" formControlName="title" bosInputRef>
          </bx-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <bx-single-image-upload [config]="dropzone_config" title="Flag image" [image]="item.image"
        (imageAdded)="imageAdded($event)" (imageRemoved)="imageRemoved()"></bx-single-image-upload>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!editForm.valid">{{isNew ? 'Create' : 'Update'}}</button>
      </div>
    </div>
  </form>
</div>
