<div class="animated fadeIn" *ngIf="!loading">
  <form class="row" [formGroup]="editForm" (ngSubmit)="updateItem(editForm.value)">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">{{isNew ? 'New Email' : 'Edit'}}</div>
        <div class="card-block">
          <bx-form-field label="Title">
            <input type="text" class="form-control" placeholder="Title" formControlName="title" bosInputRef>
          </bx-form-field>
          <bx-form-field label="Description">
            <angular-tinymce formControlName="description" [settings]="tinymce"></angular-tinymce>
          </bx-form-field>
          <bx-form-field label="Type">
            <select class="form-control" formControlName="type">
              <option [value]="type" *ngFor="let type of types">{{type}}</option>
            </select>
          </bx-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!editForm.valid">{{isNew ? 'Create' : 'Update'}}</button>
      </div>
    </div>
  </form>
</div>