<div class="card">
  <div class="card-header">
    Order update
  </div>
  <div class="card-block">
    <form [formGroup]="orderForm" (ngSubmit)="updateOrder(orderForm.value)">
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" formControlName="status">
          <option [value]="status" *ngFor="let status of statuses">{{status}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="shipping_method">Shipping method</label>
        <select class="form-control" id="courier" formControlName="courier">
          <option value="FedEx">FedEx</option>
          <option value="DHL">DHL</option>
          <option value="DHL Global">DHL Global</option>
          <option value="EMS">EMS</option>
          <option value="TNT">TNT</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tracking">Tracking number</label>
        <input id="tracking" type="text" class="form-control" placeholder="Enter tracking number" formControlName="tracking">
      </div>
      <bx-form-field label="Due Date">
        <div class="input-group" dropdown>
          <input class="form-control" placeholder="Due Date" bsDatepicker #dp="bsDatepicker" formControlName="dueDate"
            [bsConfig]="bsConfig" bosInputRef>
          <span class="input-group-append calendar-point" (click)="dp.show()">
            <span class="input-group-text">
              <span class="icon-calendar"></span>
            </span>
          </span>
        </div>
      </bx-form-field>
      <bx-form-field label="Send Date">
        <div class="input-group" dropdown>
          <input class="form-control" placeholder="Send Date" bsDatepicker #dp2="bsDatepicker" formControlName="sendByDate"
            [bsConfig]="bsConfig" bosInputRef>
          <span class="input-group-append calendar-point" (click)="dp2.show()">
            <span class="input-group-text">
              <span class="icon-calendar"></span>
            </span>
          </span>
        </div>
      </bx-form-field>
      <div class="form-group">
        <div class="checkbox">
          <label [attr.for]="'dueDateConfirmed'">
            <input [attr.id]="'dueDateConfirmed'" type="checkbox" formControlName="dueDateConfirmed"> Tick to confirm
            due
            date
          </label>
        </div>
      </div>
      <button class="btn btn-success" [disabled]="isOrderCommenter">Update</button>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Order actions
  </div>
  <div class="card-block">
    <form [formGroup]="actionsForm" (ngSubmit)="applyAction(actionsForm.value)">
      <div class="form-group">
        <label for="
          action-options">Order action</label>
        <select class="form-control" id="action-options" formControlName="action">
          <option disabled selected>Choose action</option>
          <option [value]="action.id" *ngFor="let action of actions">{{action.title}}</option>
        </select>
      </div>
      <button class="btn btn-success">Apply action</button>
    </form>
  </div>
</div>
