<dot-breadcrumbs [allowBootstrap]="true"></dot-breadcrumbs>
<div class="dashboard-form" *ngIf="order$ | async as order">
  <h1>Order {{ order.orderid }}</h1>
  <p>
    Name: {{ order.shipping.firstName }} {{ order.shipping.lastName }} <br />
    Email: {{ order.owner.email }} <br />
    Status: {{ order.status }}
    <br />
    <span *ngIf="order.tracking">Tracking No: {{ order.tracking }}</span>
  </p>
  <div class="addresses">
    <div class="address">
      <h3>Shipping</h3>
      {{ order.shipping.firstName }} {{ order.shipping.lastName }} <br />
      {{ order.shipping.address1 }}
      <br />
      <span *ngIf="order.shipping.address2">
        {{ order.shipping.address2 }}
        <br />
      </span>
      {{ order.shipping.city }}
      <br />
      {{ order.shipping.region }} <br />
      {{ order.shipping.country }}
      <br />
    </div>
    <div class="address" *ngIf="order.billing">
      <h3>Billing</h3>
      {{ order.billing.address1 }}
      <br />
      <span *ngIf="order.billing.address2">
        {{ order.billing.address2 }}
        <br />
      </span>
      {{ order.billing.city }}
      <br />
      {{ order.billing.region }} <br />
      {{ order.billing.country }}
      <br />
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th>Qty</th>
        <th class="price">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.items">
        <td>
          <div class="cart-image" *ngIf="item.product_variation">
            <img
              [bxLazysizes]="item.product_variation.image.key"
              *ngIf="item.product_variation.image; else mainImage"
            />
            <ng-template #mainImage>
              <img
                [bxLazysizes]="getReadyMadeImage(item.product_variation)"
                *ngIf="getReadyMadeImage(item.product_variation)"
              />
            </ng-template>
          </div>
          <div class="cart-image" *ngIf="item.custom_product">
            <img
              [bxLazysizes]="item.custom_design.image.key"
              *ngIf="item | hasKey: 'custom_design.image.key'"
            />
          </div>
        </td>
        <td>
          <h3 *ngIf="item.custom_product">{{ item?.custom_product.title }}</h3>
          <h3 *ngIf="!item.custom_product && item.product_variation">
            {{ item.product_variation.title }} -
            {{ item.product_variation.option_name }}
          </h3>
          <h3 *ngIf="item.code && item.code === 'CUSTOM'">{{ item.title }}</h3>
        </td>
        <td class="fit">{{ item.qty }}</td>
        <td class="fit">{{ item.total | currency: 'GBP':'symbol' }}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="cart-footer col-xs-12 col-sm-6 col-md-4 ml-auto">
      <div class="totals">
        <span>Subtotal</span>
        <span bx-price [price]="order.subtotal"></span>
      </div>
      <div class="totals">
        <span>Estimated Shipping</span>
        <span bx-price [price]="order.shippingprice"></span>
      </div>
      <div class="totals" *ngIf="order.discountAmount">
        <span>Discount</span>
        <span bx-price [price]="order.discountAmount"></span>
      </div>
      <div class="totals">
        <span>Total</span>
        <span bx-price [price]="order.total"></span>
      </div>
    </div>
  </div>
</div>
