@import './scss/dashboard';

.dashboard-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .content {
    text-align: center;
    .icon {
      margin-bottom: 1rem;
      display: block;
    }
    h3 {
      margin-bottom: 0.2rem;
    }
    p {
      @include font-size(13, 14);
    }
  }
}
