@import 'variables';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import 'node_modules/bootstrap/scss/mixins/_grid';

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 600px
);

:host {
  display: block;
  padding: 15px;
  @include make-container();
  @include make-container-max-widths($container-max-widths);
  @include media-breakpoint-up(sm) {
    padding: 2rem 15px;
  }
}

.page-body {
  @include make-row();
}

.messages,
.reset-form {
  @include make-col-ready();
  @include media-breakpoint-up(xs) {
    @include make-col(12);
  }
}
