<form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
  <ng-content></ng-content>
  <mat-form-field>
    <input type="email" matInput placeholder="Email" formControlName="email" autocomplete="username" required>
    <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="loginForm.get('email').hasError('required')">
      Email is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password" autocomplete="current-password"
      required>
    <mat-error *ngIf="loginForm.get('password').hasError('required')">
      Password is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button class="btn btn-success" type="submit" [disabled]="!loginForm.valid">Login</button>
  <button type="button" [routerLink]="['/login/forgot']" class="btn-text">Forgot password?</button>
</form>
