<div class="cart-item" *ngIf="cart && !cart.custom_product">
  <div class="cart-image">
    <img
      [bxLazysizes]="cart.product_variation.image.key"
      *ngIf="
        cart.product_variation && cart.product_variation.image;
        else mainImage
      "
    />
    <ng-template #mainImage>
      <img
        [bxLazysizes]="getReadyMadeImage(cart.product_variation)"
        *ngIf="getReadyMadeImage(cart.product_variation)"
      />
    </ng-template>
  </div>
  <p>
    {{ cart.qty }} x {{ cart.product_variation.title }} -
    {{ cart.product_variation.option_name }}
  </p>
  <p bx-price [price]="cart.total"></p>
</div>
<div class="cart-item" *ngIf="cart && cart.custom_product">
  <div class="cart-image">
    <div [inlineSVG]="cart.custom_design.svg.key" [replaceContents]="true" *ngIf="cart.custom_design && cart.custom_design.image"></div>
  </div>
  <p>{{ cart.qty }} x {{ cart.custom_product.title }}</p>
  <p bx-price [price]="cart.total"></p>
</div>
