@import 'variables';
@import 'mixins';

:host {
  margin: 1rem auto;
  max-width: 600px;
  width: 100%;
  display: block;
  padding: 1rem 0.5rem;
}

#template {
  // border: 1px solid #333;
  display: block;
  width: 100%;
  max-height: calc(100vh - 270px);
  overflow: visible;
  ::ng-deep svg {
    overflow: inherit;
  }
}

.template-controls {
  width: 100%;
  position: relative;
}

.template-col {
  display: flex;
  width: 100%;
}

.template-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  // flex: 1 0 auto;
}

.template-rotator {
  h4 {
    margin: 0;
  }
  mat-slider {
    width: 100%;
    padding: 0;
  }
}

.template-scale {
  padding-bottom: 35px;
  flex: 0 0 48px;
  width: 48px;
  display: block;
  position: relative;
  h4 {
    margin: auto 0.5rem;
    flex: 0;
    transform: rotate(90deg);
    transform-origin: left top 0;
    position: absolute;
    left: 90%;
    top: 30%;
  }
  mat-slider {
    height: 100%;
  }
}

.bubble {
  position: absolute;
  top: 20px;
  left: 50%;
  right: 0;
  width: 200px;
  margin-left: -124px;
  padding: 0.5rem;
  background: white;
  border-radius: 8px;
  border: 2px solid $black;
  .arrow-after {
    border-right: 21px solid transparent;
    bottom: -21px;
    position: absolute;
    left: 50%;
    &::before {
      border-right: 20px solid transparent;
      border-top: 20px solid $black;
      bottom: 1px;
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -10px;
    }
    &::after {
      border-right: 16px solid transparent;
      border-top: 16px solid white;
      bottom: 6px;
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -8px;
    }
  }
  h3 {
    margin: 0;
    @include font-size(14, 20);
    color: $black;
    .fa-info-circle {
      margin-right: 0.5rem;
      @include font-size(18, 18);
    }
  }
}

.draggable {
  cursor: move;
}

p.danger {
  margin: 1rem 0;
  font-weight: bold;
}

.template-label {
  display: flex;
  margin-bottom: 0.3rem;
  .label {
    flex: 0 1 50%;
  }
  h4 {
    @include font-size(14, 14);
    margin: 0;
  }
}
