<div class="product-wrapper">
  <div class="gift-voucher-content">
    <div class="voucher">
      <aside>
        <h2>Gift Vouchers</h2>
        <ul class="sidebar-menu">
          <li>
            <a [routerLink]="['/gift-voucher', 'purchase']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Purchase a gift voucher</a>
          </li>
          <li>
            <a [routerLink]="['/gift-voucher', 'redeem']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Redeem a gift voucher</a>
          </li>
          <li>
            <a [routerLink]="['/gift-voucher', 'balance']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Check balance</a>
          </li>
        </ul>
      </aside>
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</div>
