<article *ngIf="gallery$ | async as gallery">
  <div class="row">
    <div class="col-md-6 ml-auto">
      <div class="nav">
        <div class="btn-group">
          <button
            [routerLink]="['../', gallery.links.prev]"
            class="btn btn-grey"
            [disabled]="!gallery.links.prev"
          >
            Prev
          </button>
          <button
            [routerLink]="['../', gallery.links.next]"
            class="btn btn-grey"
            [disabled]="!gallery.links.next"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-6 last-xs first-md gallery gallery-flickity"
      #imageContainer
    >
      <ng-container *ngIf="ps.isBrowser">
        <div
          class="flickity-wrapper"
          [bxFlkty]="{
            cellAlign: 'left',
            percentPosition: true,
            imagesLoaded: true,
            wrapAround: true,
            pageDots: false,
            prevNextButtons: true
          }"
          #mainGallery
          (slideSelect)="galleryIndex = $event"
        >
          <div
            [bxFlktyCell]
            class="carousel-cell"
            *ngFor="let image of gallery.images; let i = index"
          >
            <div
              bxImageWrapper
              [aspect_ratio]="1"
              *ngIf="image && image.format != 'video'"
            >
              <img
                alt="{{ gallery.product?.title }} {{ gallery.title }} {{
                  gallery.category.title
                }}"
                [bxLazysizes]="image.key"
                [crop_ratio]="1"
              />
            </div>
            <bx-video
              [showControls]="true"
              [play]="i === galleryIndex"
              [options]="videoOptions(image)"
              *ngIf="image && image.format === 'video'"
            ></bx-video>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-md-6 first-xs last-md">
      <h1 *ngIf="gallery.product; else noProduct">
        {{ gallery.product.title }} {{ gallery.title }}
      </h1>
      <ng-template #noProduct>
        <h1>{{ gallery.title }}</h1>
      </ng-template>
      <span [innerHTML]="gallery.description"></span>
      <p>
        Love it? Click "Customise" to change colours and materials or to keep it
        just as it is but include your own names.
      </p>
      <button
        class="btn btn-success"
        *ngIf="gallery.design && gallery.design.custom_design"
        (click)="copyDesign(gallery.design.custom_design)"
      >
        Customise
      </button>
      <h4
        *ngIf="
          gallery.design &&
          gallery.design.custom_design &&
          gallery.design.custom_design.style
        "
      >
        Style: {{ gallery.design.custom_design.style.title }}
      </h4>
      <h4
        *ngIf="
          gallery.design &&
          gallery.design.custom_design &&
          gallery.design.custom_design.cut
        "
      >
        Cut: {{ gallery.design.custom_design.cut.title }}
      </h4>
      <div
        class="materials gallery-flickity"
        *ngIf="gallery.materials && gallery.materials.length"
      >
        <h4>Materials</h4>
        <div class="materials-grid">
          <div class="material" *ngFor="let material of gallery.materials">
            <ng-container *ngIf="material">
            <svg class="swatch" *ngIf="material.hex" viewBox="0 0 600 600">
              <rect class="swatch-colour" [attr.fill]="material.hex" />
            </svg>
            <img
              [bxLazysizes]="material.image.key"
              [crop_ratio]="1"
              *ngIf="material.image"
            />
            <div>
              <h2>{{ material.title }} {{ material.materialType.title }}</h2>
            </div>
          </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
