@import 'mixins';
@import 'variables';
@import 'flickity-style';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import 'node_modules/bootstrap/scss/mixins/_grid';

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1100px
);

:host {
  background-color: white;
  display: block;
  flex: 1;
}

article {
  padding: 2rem 0;
  @include make-container();
  @include make-container-max-widths($container-max-widths);
  position: relative;
  .image {
    padding: 0.5rem;
  }
  .nav-link {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    .icon {
      width: 40px;
      height: 40px;
      fill: $black;
    }
    &:disabled {
      cursor: not-allowed;
      .icon {
        fill: $midgrey;
      }
    }
    &:hover {
      .icon {
        fill: $green;
      }
    }
  }
  .nav-prev {
    left: 0px;
  }

  .nav-next {
    right: 0px;
  }
}

.gallery {
  .carousel-cell {
    width: 100%;
  }
  .gallery-thumb {
    width: 20%;
  }
}

.materials {
  h4 {
    margin-bottom: 0.2rem;
  }
}

.materials-grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.material {
  width: 20%;
  padding: 0 5px;
  h2 {
    margin-top: 0.2rem;
    @include font-size(12, 12);
  }
}

.swatch-colour {
  width: 100%;
  height: 100%;
}

.gallery-flickity {
  ::ng-deep .flickity-enabled {
    margin: 0;
  }
  ::ng-deep .flickity-viewport {
    margin-bottom: 40px;
  }
  ::ng-deep .flickity-button {
    width: 25px;
    height: 25px;
    background: $midgrey;
    top: calc(100% + 20px);
    font-size: 0%;
    &.previous {
      left: calc(50% - 30px);
    }
    &.next {
      right: calc(50% - 30px);
    }
  }
  ::ng-deep .flickity-button-icon {
    fill: white;
    width: 15px;
    height: 15px;
  }
}

// ::ng-deep .flickity-prev-next-button {
//   width: 44px;
//   height: 44px;
//   &.previous {
//     left: 10px !important;
//   }
//   &.next {
//     right: 10px !important;
//   }
// }
