.form-group {
    background-color: rgb(242, 242, 242);
    position: relative;
    border: 1px solid lighten(#ccc, 12%);
    padding: 7px 12px 4px;
    transition: background-color 0.2s ease;
    margin-bottom: 10px;
    label {
        font-family: "Oswald", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0;
        display: block;
        opacity: 1;
        -webkit-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;
        line-height: 20px;
        max-width: 100%;
    }
    .form-control {
        border: none;
        height: 25px;
        min-height: 25px;
        padding: 0;
        margin-top: -4px;
        background: none;
        -webkit-appearance: none;
        color: #2c2c2c;
        outline: 0;
        line-height: normal;
        font-size: 16px;
        font-weight: 300;
        box-shadow: none;
        display: block;
        width: 100%;
    }
    .form-control:focus {
        font-size: 16px;
    }
}

.form-group.required:after {
    color: $red;
    content: "*";
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 6px;
}

.form-group.has-error {
    border-color: $red;
    background-color: lighten($red, 35%);
}

textarea.form-control {
    height: auto !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus input:-webkit-autofill,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
    border: 0;
    -webkit-text-fill-color: $black;
    -webkit-box-shadow: 0 0 0 1000px rgb(242, 242, 242) inset;
    box-shadow: 0 0 0 1000px rgb(242, 242, 242) inset;
    transition: background-color 5000s ease-in-out 0s;
}