<dot-breadcrumbs [allowBootstrap]="true"></dot-breadcrumbs>
<div class="dashboard">
  <a [routerLink]="['add']" class="dashboard-item-container" bx-dashboard-add title="Card"></a>
  <div class="dashboard-item-container" *ngFor="let source of sources$ | async">
    <div class="dashboard-item">
      <div class="content">
        <fa-icon class="card-icon" [icon]="['fab', formatCardName(source.card.brand)]" [fixedWidth]="true" size="3x">
        </fa-icon>
        <p>
          <ng-container *ngIf="source.owner">Name: {{source.owner.name}}<br></ng-container>Card ending:
          {{source.card.last4}}
          <br> Exp: {{source.card.exp_month}}/{{source.card.exp_year}}
        </p>
      </div>
      <div class="footer">
        <button class="btn-text danger" (click)="deleteCard(source)">Delete</button>
      </div>
    </div>
  </div>
</div>
