<a class="menunav-anchor" *ngIf="!item.hasSubItems() && !item.seperator" [routerLink]="[item.route]" routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}" (click)="menuClicked()">
  <div class="list-item-content">
    <span class="menunav-item-name">{{ item.name }}</span>
  </div>
</a>
<div class="menunav-seperator" *ngIf="!item.hasSubItems() && item.seperator">
  <div class="list-item-content">
    <span class="menunav-item-name">{{ item.name }}</span>
  </div>
</div>
<a class="menunav-anchor" *ngIf="item.hasSubItems()" (click)="toggleDropdown()">
  <div class="list-item-content">
    <span class="menunav-item-name">{{ item.name }}</span>
    <span class="flex-space"></span>
    <span *ngIf="item.hasSubItems()" class="menunav-item-dropdown-indicator rotate">
      <fa-icon class="icon" [icon]="['fal', 'chevron-down']" [fixedWidth]="true" size="1x"></fa-icon>
    </span>
  </div>
</a>
<div class="menunav-list menunav-list-nested" [style.height]="getSubItemsHeight()">
  <bx-menunav-item *ngFor="let subItem of item.subItems" [item]="subItem"></bx-menunav-item>
</div>