<dot-breadcrumbs [allowBootstrap]="true"></dot-breadcrumbs>
<form class="dashboard-form" [formGroup]="form" *ngIf="loaded$ | async">
  <h2>{{edit ? 'Edit' : 'Add'}} Profile</h2>
  <div class="content">
    <mat-form-field>
      <input type="text" matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="form.get('name').hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
    <div formGroupName="sizing">
      <mat-form-field>
        <mat-label>Enter height</mat-label>
        <input type="text" matInput placeholder="Enter height" formControlName="height">
        <mat-error *ngIf="form.get('sizing').get('height').hasError('required')">Please enter your height.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Unit of weight</mat-label>
        <mat-select placeholder="Select unit of weight" formControlName="unit">
          <mat-option value="KGS">KGS</mat-option>
          <mat-option value="LBS">LBS</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('sizing').get('unit').hasError('required')">Please select unit of weight.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter weight</mat-label>
        <input type="number" matInput placeholder="Enter weight" formControlName="weight" pattern="[0-9]+([\.,][0-9]+)?"
          minlength="1" maxlength="10">
        <mat-error *ngIf="form.get('sizing').get('weight').hasError('required')">Please enter your weight.</mat-error>
        <mat-error *ngIf="form.get('sizing').get('weight').hasError('pattern')">Please enter your weight (numbers
          only).</mat-error>
      </mat-form-field>
    </div>
  </div>
  <button class="btn btn-success" type="submit" (click)="addProfile()" [disabled]="!form.valid">{{edit ? 'Update' : 'Add'}}
    Profile</button>
</form>
