<div class="card" *ngIf="template; else noCard">
  <div class="card-header">{{ default_title }}</div>
  <div class="card-block">
    <div *ngIf="image; else uploadBlock">
      <img [bxLazysizes]="image.key" *ngIf="image" />
      <button class="btn btn-secondary btn-block mt-1" (click)="removeImage()">
        Remove Image
      </button>
    </div>
    <ng-template #uploadBlock>
      <dropzone
        [config]="dropzone_config"
        [message]="message"
        (success)="onUploadSuccess($event)"
        [useDropzoneClass]="false"
      ></dropzone>
    </ng-template>
  </div>
</div>
<ng-template #noCard>
  <div *ngIf="image; else uploadBlock">
    <img [bxLazysizes]="image.key" *ngIf="image" />
    <button class="btn btn-secondary btn-block mt-1" (click)="removeImage()">
      Remove Image
    </button>
  </div>
  <ng-template #uploadBlock>
    <dropzone
      [config]="dropzone_config"
      [message]="message"
      (success)="onUploadSuccess($event)"
      [useDropzoneClass]="false"
    ></dropzone>
  </ng-template>
</ng-template>
