@import 'variables';
@import 'mixins';
@import 'partial';
.upload-options {
  margin-top: 1rem;
}

.graphic-sizes {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  .option {
    margin: 5px 0;
    flex: 0 1 50%;
  }
}
.name-style {
  @extend %button-group-select;
  margin-top: 1rem;
}
label{
  font-weight: 400;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  margin: 0 0 1rem;
}