@import 'variables';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import 'node_modules/bootstrap/scss/mixins/_grid';
@import 'mixins';

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1200px
);

:host {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

.cookie-law {
  background: $green;
  color: white;
  font-family: $defaultFont;
  @include font-size(16, 19);
}

.cookie-settings {
  background-color: white;
  font-family: $defaultFont;
  @include font-size(16, 19);
}

.cookie-law-wrapper {
  @include make-container();
  @include make-container-max-widths($container-max-widths);
  display: flex;
  padding: 1.4rem 1rem;
  align-items: center;
  @include media-breakpoint-up(xs) {
    flex-direction: column;
  }
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.copy {
  flex: 1;
  padding-right: 1.5rem;
  @include media-breakpoint-up(xs) {
    text-align: center;
  }
  @include media-breakpoint-up(md) {
    text-align: left;
  }
  a {
    color: white;
    text-decoration: underline;
  }
}

.actions {
  @include media-breakpoint-up(xs) {
    margin: 0.5rem auto 0;
  }
  @include media-breakpoint-up(md) {
    margin-top: 0;
    margin-left: auto;
  }
  button {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    @include font-size(14, 14);
    margin: 0;
    width: auto;
  }
  button {
    margin-right: 1.5rem;
  }
  button:last-child {
    margin-right: 0;
  }
}
