<div class="cookie-law" *ngIf="!seen">
  <div class="cookie-law-wrapper">
    <div class="copy">
      This website uses cookies to ensure you get the best experience on our website.
      <a href="/help-and-info/privacy-policy" target="_blank" rel="noopener noreferrer">Learn more</a>
    </div>
    <div class="actions">
      <button (click)="showSettings = !showSettings">Settings</button>
      <button class="btn btn-solid dismiss" (click)="dismiss(marketing)">Accept</button>
    </div>
  </div>
</div>
<div class="cookie-settings" *ngIf="showSettings && !seen">
  <div class="cookie-law-wrapper" [formGroup]="settingsForm">
    <mat-checkbox formControlName="analytics">Analytics & marketing.</mat-checkbox>
  </div>
</div>
