<div class="animated fadeIn" *ngIf="!loading">
  <form class="row" [formGroup]="editForm" (ngSubmit)="updateItem(editForm.value)">
    <div class="col-md-9">
      <tabset>
        <tab heading="Areas" id="tab1">
          <div class="card" formArrayName="design_areas">
            <div class="card-header">Areas - Assignable to template parts
              <div class="card-actions">
                <a (click)="addArea()">
                  <i class="icon-plus icons font-xl"></i>
                </a>
              </div>
            </div>
            <div class="card-block">
              <div *ngFor="let area of editForm.get('design_areas')['controls']; let i=index; last as isLast"
                [attr.data-index]="i" [formGroupName]="i">
                <bx-form-field label="Title">
                  <input type="text" class="form-control" placeholder="Title" formControlName="title">
                </bx-form-field>
                <bx-form-field label="Price Adjust">
                  <input type="text" class="form-control" placeholder="Price Adjust" formControlName="price_adjust">
                  <small class="form-text text-muted">This value will be multipled by the material price.</small>
                </bx-form-field>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="optional"> Optional?
                    </label>
                  </div>
                </div>
                <hr *ngIf="!isLast">
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Material Groups" id="tab2">
          <div class="card" formArrayName="material_groups">
            <div class="card-header">Material Groups - Assignable to template parts
              <div class="card-actions">
                <a (click)="addMaterial()">
                  <i class="icon-plus icons font-xl"></i>
                </a>
              </div>
            </div>
            <div class="card-block">
              <div *ngFor="let group of editForm.get('material_groups')['controls']; let i=index; last as isLast"
                [attr.data-index]="i" [formGroupName]="i">
                <bx-form-field label="Title">
                  <input type="text" class="form-control" placeholder="Title" formControlName="title">
                </bx-form-field>
                <bx-form-field label="Material types">
                  <ng-select [items]="dropDownTerms" [clearable]="false" [multiple]="true" bindLabel="title"
                    [typeahead]="termTypeahead" placeholder="No materials selected" formControlName="material_types">
                  </ng-select>
                </bx-form-field>
                <hr *ngIf="!isLast">
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Names" id="tab3">
          <div class="card" formArrayName="name_types">
            <div class="card-header">Names Types
              <div class="card-actions">
                <a (click)="addNameType()">
                  <i class="icon-plus icons font-xl"></i>
                </a>
              </div>
            </div>
            <div class="card-block">
              <div *ngFor="let group of editForm.get('name_types')['controls']; let i=index; last as isLast"
                [attr.data-index]="i" [formGroupName]="i">
                <bx-form-field label="Title">
                  <input type="text" class="form-control" placeholder="Title" formControlName="title">
                </bx-form-field>
                <bx-form-field label="Description">
                  <angular-tinymce formControlName="description" [settings]="tinymce"></angular-tinymce>
                </bx-form-field>
                <bx-form-field label="Internal Description">
                  <input type="text" class="form-control" placeholder="Internal Description"
                    formControlName="internal_description">
                </bx-form-field>
                <bx-form-field label="Base Price">
                  <input type="tel" class="form-control" placeholder="Base Price" formControlName="base_price">
                </bx-form-field>
                <bx-form-field label="Price">
                  <input type="tel" class="form-control" placeholder="Price" formControlName="price">
                </bx-form-field>
                <bx-form-field label="Outline Price">
                  <input type="tel" class="form-control" placeholder="Outline Price" formControlName="outline_price">
                </bx-form-field>
                <bx-form-field label="Character Limit">
                  <input type="tel" class="form-control" placeholder="Character Limit" formControlName="limit">
                </bx-form-field>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="outline"> Can have outline?
                    </label>
                  </div>
                </div>
                <bx-form-field label="Name Outline Material" *ngIf="group.get('outline').value">
                  <ng-select [items]="dropDownTerms" [clearable]="false" bindLabel="title" [typeahead]="termTypeahead"
                    placeholder="No materials selected" formControlName="name_outline_material"></ng-select>
                </bx-form-field>
                <bx-form-field label="Name Fill Materials">
                  <ng-select [items]="dropDownTerms" [clearable]="false" [multiple]="true" bindLabel="title"
                    [typeahead]="termTypeahead" placeholder="No materials selected"
                    formControlName="name_fill_materials"></ng-select>
                </bx-form-field>
                <bx-form-field label="Product types">
                  <ng-select [items]="dropDownProductTypes" [clearable]="false" [multiple]="true" bindLabel="title"
                    [typeahead]="productTypeTypeahead" placeholder="No product types selected"
                    formControlName="product_types">
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                      <span class="ng-value-icon left" (click)="clear(item)" aria-hidden="true">×</span>
                      <span class="ng-value-label">{{item.title}} - {{item.parent?.title}}</span>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                      {{item.title}} - {{item.parent?.title}}
                    </ng-template>
                  </ng-select>
                </bx-form-field>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="patch"> Can have patch?
                    </label>
                  </div>
                </div>
                <bx-form-field label="Patch Price" *ngIf="group.get('patch').value">
                  <input type="tel" class="form-control" placeholder="Patch Price" formControlName="patch_price">
                </bx-form-field>
                <bx-form-field label="Patch Material" *ngIf="group.get('patch').value">
                  <ng-select [items]="dropDownTerms" [clearable]="false" bindLabel="title" [typeahead]="termTypeahead"
                    placeholder="No materials selected" formControlName="patch_material"></ng-select>
                </bx-form-field>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="crystals"> Can have crystals?
                    </label>
                  </div>
                </div>
                <bx-form-field label="Crystal Price" *ngIf="group.get('crystals').value">
                  <input type="tel" class="form-control" placeholder="Crystal Price" formControlName="crystal_price">
                </bx-form-field>
                <bx-form-field label="Crystal Material" *ngIf="group.get('crystals').value">
                  <ng-select [items]="dropDownTerms" [clearable]="false" bindLabel="title" [typeahead]="termTypeahead"
                    placeholder="No materials selected" formControlName="crystal_material"></ng-select>
                </bx-form-field>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="special_finishes"> Allow special finishes? (see name
                      finishes
                      below)
                    </label>
                  </div>
                </div>
                <hr *ngIf="!isLast">
              </div>
            </div>
          </div>
          <div class="card" formArrayName="name_finishes">
            <div class="card-header">Names Finishes
              <div class="card-actions">
                <a (click)="addNameFinish()">
                  <i class="icon-plus icons font-xl"></i>
                </a>
              </div>
            </div>
            <div class="card-block">
              <div *ngFor="let group of editForm.get('name_finishes')['controls']; let i=index; last as isLast"
                [attr.data-index]="i" [formGroupName]="i">
                <bx-form-field label="Title">
                  <input type="text" class="form-control" placeholder="Title" formControlName="title">
                </bx-form-field>
                <bx-form-field label="Price">
                  <input type="tel" class="form-control" placeholder="Price" formControlName="price">
                </bx-form-field>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="text3d"> 3D Text?
                    </label>
                  </div>
                </div>
                <hr *ngIf="!isLast">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">Name Crystals
            </div>
            <div class="card-block" formGroupName="name_crystals">
              <bx-form-field label="Price">
                <input type="tel" class="form-control" placeholder="Price" formControlName="price">
              </bx-form-field>
              <bx-form-field label="Material types">
                <ng-select [items]="dropDownTerms" [clearable]="false" bindLabel="title" [typeahead]="termTypeahead"
                  placeholder="No materials selected" formControlName="material_type"></ng-select>
              </bx-form-field>
              <bx-form-field label="Description">
                <angular-tinymce formControlName="description" [settings]="tinymce"></angular-tinymce>
              </bx-form-field>
            </div>
          </div>
        </tab>
        <tab heading="Flags / Graphics" id="tab4">
          <div class="card">
            <div class="card-header">Flags / Graphics / Muay Thai Pricing
            </div>
            <div class="card-block">
              <bx-form-field label="Flag Price">
                <input type="tel" class="form-control" placeholder="Flag Price" formControlName="flag_price">
              </bx-form-field>
              <bx-form-field label="Graphic Price">
                <input type="tel" class="form-control" placeholder="Graphic Price" formControlName="logo_price">
              </bx-form-field>
              <bx-form-field label="Upload Price">
                <input type="tel" class="form-control" placeholder="Graphic Price" formControlName="upload_price">
              </bx-form-field>
              <bx-form-field label="Muay Thai Price">
                <input type="tel" class="form-control" placeholder="Muay Thai Price" formControlName="muay_thai_price">
              </bx-form-field>
              <bx-form-field label="Remove Boxxer Logo Price">
                <input type="tel" class="form-control" placeholder="Remove Boxxer Logo Price"
                  formControlName="remove_logo_price">
              </bx-form-field>
              <bx-form-field label="Graphic Print Price">
                <input type="tel" class="form-control" placeholder="Graphic Print Price" formControlName="graphic_print_apparel_price">
              </bx-form-field>
              <bx-form-field label="Graphic Embroidery Price">
                <input type="tel" class="form-control" placeholder="Graphic Embroidery Price" formControlName="graphic_print_embroidery_price">
              </bx-form-field>
            </div>
          </div>
        </tab>
        <tab heading="Production" id="tab5">
          <bx-form-field label="Production info">
            <angular-tinymce formControlName="production_info" [settings]="tinymce"></angular-tinymce>
          </bx-form-field>
          <div class="card" formArrayName="production_types">
            <div class="card-header">Production Types
              <div class="card-actions">
                <a (click)="addProduction()">
                  <i class="icon-plus icons font-xl"></i>
                </a>
              </div>
            </div>
            <div class="card-block">
              <div class="card"
                *ngFor="let group of editForm.get('production_types')['controls']; let i=index; last as isLast"
                [attr.data-index]="i" [formGroupName]="i">
                <div class="card-header">{{group.controls.title.value}}
                  <!-- <div class="card-actions">
                <a (click)="removeProduction(i)">
                  <i class="icon-trash icons font-xl"></i>
                </a>
              </div> -->
                </div>
                <div class="card-block">
                  <bx-form-field label="Title">
                    <input type="text" class="form-control" placeholder="Title" formControlName="title">
                  </bx-form-field>
                  <bx-form-field label="Description">
                    <input type="text" class="form-control" placeholder="Description" formControlName="description">
                  </bx-form-field>
                  <bx-form-field label="Price">
                    <input type="tel" class="form-control" placeholder="Price" formControlName="price">
                  </bx-form-field>
                  <bx-form-field label="Number of Days">
                    <input type="tel" class="form-control" placeholder="Number of Days" formControlName="days">
                  </bx-form-field>
                  <bx-form-field label="Email Title">
                    <input type="text" class="form-control" placeholder="Email Title" formControlName="email_title">
                  </bx-form-field>
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" formControlName="express_shipping"> Express shipping?
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Other" id="tab6">
          <bx-form-field label="Cost of goods %">
            <input type="text" class="form-control" placeholder="Enter amount" formControlName="goods_percentage">
          </bx-form-field>
        </tab>
      </tabset>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!editForm.valid">{{isNew ? 'Create' : 'Update'}}</button>
      </div>
    </div>
  </form>
</div>
