<h2>Shipping address</h2>
<p class="danger small" *ngIf="hasGift && !nonGift">We still require your Shipping Address as part of the checkout process for this Gift Voucher order. Please input your Card
  Billing Address in this section. The Gift Voucher is electronic, and will be emailed to your recipient only on the date
  you have specified. We do not post vouchers.</p>
<div [formGroup]="parentForm" *ngIf="(addresses$ | async)?.length; else addressForm">
  <ng-select [items]="(addresses$ | async)" [searchable]="false" [clearable]="false" formControlName="saved_shipping">
    <ng-template ng-label-tmp let-item="item">
      <strong>{{item.firstName}} {{item.lastName}}</strong>
      <br> {{item.address1}}
      <span *ngIf="item.postcode">
        <br> {{item.postcode}}</span>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index">
      <div class="card">
        <strong>{{item.firstName}} {{item.lastName}}</strong>
        <br> {{item.address1}}
        <span *ngIf="item.postcode">
          <br> {{item.postcode}}</span>
      </div>
    </ng-template>
  </ng-select>
  <div class="next-box">
    <div class="buttons">
      <button class="btn-text" (click)="addNewAddress()">Add Address</button>
    </div>
  </div>
</div>
<ng-template #addressForm>
  <bx-address-form [parentForm]="parentForm" groupName="shipping" [address]="order?.shipping" showNames="true" showContact="true"></bx-address-form>
</ng-template>
<div *ngIf="nonGift">
  <h2 class="comments">Special instructions - If you have fight date please put it here.</h2>
  <div [formGroup]="parentForm">
    <mat-form-field>
      <textarea matInput placeholder="Enter comment" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="10" formControlName="comments"></textarea>
    </mat-form-field>
  </div>
</div>
