<form [formGroup]="shippingForm" *ngIf="(order$ | async) as order" #form>
  <bx-checkout-account [parentForm]="shippingForm" (userLogin)="shippingAddress.getAddresses()"></bx-checkout-account>
  <div id="shipping-address" class="checkout-box" *ngIf="!auth.loggedIn()">
    <h2>Email address</h2>
    <mat-form-field>
      <input type="text" matInput placeholder="Email" formControlName="email" autocomplete="email" required>
      <mat-error *ngIf="shippingForm.get('email').hasError('required')">
        First name is required
      </mat-error>
    </mat-form-field>
    <div class="info">
      <mat-checkbox formControlName="newsletter">Subscribe to recieve the latest product news and offers.</mat-checkbox>
    </div>
  </div>
  <bx-checkout-shipping-options [order]="order" [parentForm]="shippingForm" *ngIf="nonGift">
  </bx-checkout-shipping-options>
  <bx-checkout-payment-paypal [order]="order" [parentForm]="shippingForm" (paypalValidate)="validatePayPal()"
    *ngIf="order.total > 0"></bx-checkout-payment-paypal>
  <bx-checkout-shipping-address [hasGift]="hasGift" [nonGift]="nonGift" [parentForm]="shippingForm" [order]="order"
    #shippingAddress></bx-checkout-shipping-address>
  <div class="checkout-box">

    <ng-container *ngIf="checkout.clubKitMinCheck(order); else clubKitWarning">
      <div class="next-box">
        <div class="info">
          <!-- <p>Pay faster with PayPal or proceed to card payment.</p> -->
        </div>
        <div class="buttons">
          <button class="btn btn-success" type="submit" (click)="saveShipping()">Card Payment</button>
        </div>
      </div>
    </ng-container>
    <ng-template #clubKitWarning>
      <bx-club-kit-warning></bx-club-kit-warning>
    </ng-template>

  </div>
</form>