<h2>Check Gift Voucher Balance</h2>
<p>You can check your remaining gift voucher balance and expiry date by entering your code below.</p>
<form [formGroup]="checkBalanceForm" (ngSubmit)="checkCode(checkBalanceForm.value)">
  <div *ngIf="voucher">
    <p>
      <strong>Balance: </strong> {{voucher.balance | currency:'GBP':'symbol'}}
      <br>
      <strong>Expires: </strong>{{voucher.expiry | date:'dd/MM/yyyy':'Z'}}</p>
  </div>
  <mat-form-field>
    <input type="text" matInput placeholder="Enter Code" formControlName="code" required>
  </mat-form-field>
  <button class="btn btn-success" type="submit">Check Balance</button>
</form>
