<a [routerLink]="[item.orderid, item.item._id]" class="card full-height-card">
  <div class="card-header">
    Order #{{ item.orderid }}
    <span class="badge badge-pill badge-danger" *ngIf="item.dueDate">
      <i class="fa fa-check" *ngIf="item.dueDateConfirmed"></i>Due:
      {{ item.dueDate | date: 'dd/MM/yy':'Z' }}</span
    >
    <div class="card-actions">
      <button (click)="printJob($event)">
        <i class="icon-printer icons font-xl"></i>
      </button>
    </div>
  </div>
  <div class="card-body d-flex flex-column">
    <div
      class="flex-grow-1 d-flex flex-column justify-content-center"
      *ngIf="item.item.custom_design"
    >
      <img
        class="mb-2"
        [bxLazysizes]="item.item.custom_design.image.key"
        *ngIf="item | hasKey: 'item.custom_design.image.key'"
      />
      <h5 class="text-uppercase mt-auto">
        {{ item.item.custom_product?.title }}
        {{ item.item.custom_product?.code }}
      </h5>
    </div>
    <div
      class="flex-grow-1 d-flex flex-column justify-content-center"
      *ngIf="item.item.product_variation"
    >
      <img
        class="mb-2"
        [bxLazysizes]="getReadyMadeImage(item.item.product_variation)"
        *ngIf="getReadyMadeImage(item.item.product_variation)"
      />
      <h5 class="text-uppercase mt-auto">
        {{ item.item.product_variation.title }}
        {{ item.item.product_variation.sku }}
      </h5>
    </div>
    <div
      class="flex-grow-1 d-flex flex-column justify-content-center"
      *ngIf="item.item.code === 'CUSTOM'"
    >
      <img class="mb-2" [bxLazysizes]="'placeholder-logo.jpg'" />
      <h5 class="text-uppercase mt-auto">CUSTOM: {{ item.item.title }}</h5>
    </div>
    <dl class="row">
      <dt class="col-sm-6">Order created date</dt>
      <dd class="col-sm-6">{{ item.checkoutDate | date: 'dd/MM/yy':'Z' }}</dd>
      <dt
        class="col-sm-6"
        *ngIf="item.item.custom_design || item.item.product_variation"
      >
        Size
      </dt>
      <dd class="col-sm-6" *ngIf="item.item.custom_design">
        {{ item.item.custom_design.sizing?.size }}
      </dd>
      <dd class="col-sm-6" *ngIf="item.item.product_variation">
        {{ item.item.product_variation.option_name }}
      </dd>
      <dt class="col-sm-6">Qty</dt>
      <dd class="col-sm-6">{{ item.item.qty }}</dd>
      <dt class="col-sm-6">Shipping Country</dt>
      <dd class="col-sm-6">{{ item.shipping?.country }}</dd>
      <dt class="col-sm-6" *ngIf="item.item.custom_design">Production type</dt>
      <dd class="col-sm-6" *ngIf="item.item.custom_design">
        {{ item.item.custom_design?.production.type }}
      </dd>
      <dt class="col-sm-6">Total</dt>
      <dd class="col-sm-6">
        {{ item.item.total | decimalPrice | currency: 'GBP':'symbol' }}
      </dd>
    </dl>
    <!--
      <div *ngIf="item.order_comments && item.order_comments.length">
        <h5>Latest comment</h5>
        <span [innerHTML]="lastestComment.comment"></span>
      </div>
    -->
  </div>
  <div class="card-footer">
    <span class="badge badge-pill badge-success float-right">{{
      item.status
    }}</span>
    <span
      class="badge badge-pill badge-danger mr-2 float-right"
      *ngIf="item.item.custom_design && item.item.custom_design.urgent"
      >Urgent</span
    >
  </div>
</a>
