<div [formGroup]="form" *ngIf="(customSettings$ | async) as customSettings">
  <ul class="name-finish" [ngClass]="{ invalid: !form.get('finish').valid }" *ngIf="type && type.special_finishes">
    <li *ngFor="let finish of customSettings.name_finishes" [ngClass]="{
        selected: selectedFinish && selectedFinish._id === finish._id
      }"
      (click)="finishSelected(finish)">
      {{ finish.title }} <br />+
      <bx-price [price]="finish.price"></bx-price> per letter
    </li>
  </ul>
  <div class="add-crystals" *ngIf="type && type.crystals">
    <mat-checkbox formControlName="add_crystals">Add crystals +
      <bx-price [price]="type.crystal_price"></bx-price> per
      letter
    </mat-checkbox>
  </div>
  <bx-custom-material-group [materials]="type.crystal_material.materials" [selectedMaterial]="selectedCrystal"
    (materialColourSelected)="colourCrystalSelected($event)" *ngIf="form.get('add_crystals').value">
    <div class="sub-header">
      <h4 class="d-flex align-items-center">Choose crystal colour <mat-icon class="ml-2 text-danger " matTooltip="Crystals on text look best in the same colour as the main text colour or in diamante." matTooltipClass="tooltipFont" matTooltipPosition="below" role="img" >info</mat-icon></h4>
    </div>
  </bx-custom-material-group>
</div>
