<div class="options-panel" [formGroup]="nameForm">
  <bx-custom-scroll-container>
    <div class="svg-text-wrapper">
      <svg width="500" height="80" viewBox="0 0 500 80">
        <svg:defs>
          <svg:filter id="textFilter" height="80px">
            <svg:feImage width="4" height="4" [attr.xlink:href]="selectedCrystal.data_uri" *ngIf="selectedCrystal" />
            <svg:feTile result="3dot" *ngIf="selectedCrystal" />
            <svg:feComposite in="3dot" in2="SourceGraphic" operator="in" result="comp" *ngIf="selectedCrystal"></svg:feComposite>
            <feOffset in="SourceAlpha" dx="0.3333333333333333" dy="1.6666666666666667" result="15"></feOffset>
            <feGaussianBlur stdDeviation="1" in="15" result="16"></feGaussianBlur>
            <feSpecularLighting surfaceScale="2" specularConstant="0.8" specularExponent="15" in="16" result="17">
              <fePointLight x="-1000" y="-5000" z="300"></fePointLight>
            </feSpecularLighting>
            <feComposite in="17" in2="SourceAlpha" operator="in" result="18"></feComposite>
            <feOffset in="SourceAlpha" dx="-0.3333333333333333" dy="-1.6666666666666667" result="19"></feOffset>
            <feGaussianBlur stdDeviation="1" in="19" result="20"></feGaussianBlur>
            <feSpecularLighting surfaceScale="2" specularConstant="1.8" specularExponent="6" in="20" result="21">
              <fePointLight x="1000" y="5000" z="300"></fePointLight>
            </feSpecularLighting>
            <feComposite in="21" in2="SourceAlpha" operator="in" result="22"></feComposite>
            <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" in="22" result="23"></feColorMatrix>
            <feComposite k1="0" k2="0.8" k3="0.5" k4="0" in="18" in2="23" operator="arithmetic" result="24"></feComposite>
            <feOffset result="offOut" in="SourceGraphic" dx="1" dy="1" />
            <feColorMatrix result="matrixOut" in="offOut" type="matrix" values="0.1 0 0 0 0 0 0.1 0 0 0 0 0 0.1 0 0 0 0 0 0.5 0" />
            <feGaussianBlur result="blurOut" in="matrixOut" stdDeviation="3" />
            <feBlend in="SourceGraphic" in2="blurOut" mode="normal" result="shadow" />
            <svg:feMerge>
              <svg:feMergeNode in="shadow" />
              <svg:feMergeNode in="SourceGraphic" />
              <svg:feMergeNode in="comp" *ngIf="selectedCrystal" />
              <feMergeNode in="24" *ngIf="selectedFinish && selectedFinish.text3d"></feMergeNode>
            </svg:feMerge>
          </svg:filter>
          <svg:pattern *ngIf="selectedFill" x="0" y="0" width="500" height="80" patternUnits="userSpaceOnUse" id="nameFillPattern">
            <svg:rect width="500" height="80" [attr.fill]="selectedFill.hex" *ngIf="selectedFill.hex"></svg:rect>
            <svg:image width="500" height="80" [attr.xlink:href]="getImageUrl(selectedFill.image)" preserveAspectRatio="none"
              x="0" y="0" width="100%" height="100%" *ngIf="selectedFill.image"></svg:image>
          </svg:pattern>
        </svg:defs>
        <svg:rect [attr.width]="updatePosition().width" [attr.height]="updatePosition().height" [attr.x]="updatePosition().x"
          [attr.y]="updatePosition().y" [attr.fill]="selectedPatch.hex" *ngIf="svgText && selectedPatch && nameForm.get('add_patch').value"></svg:rect>
        <svg:text x="250" y="10" stroke-alignment="outer" [attr.font-family]="nameForm.get('font').value" [attr.fill]="getFill()"
          [attr.filter]="filterUrl" [attr.stroke]="selectedOutline?.hex" [attr.stroke-width]="strokeWidth" dy="40"
          text-anchor="middle" font-size="60px" #svgText>
          {{ nameForm.get('text').value }}
        </svg:text>
      </svg>
    </div>
    <div class="option-panel">
      <mat-vertical-stepper [linear]="true" #stepper="matVerticalStepper">
        <ng-template matStepperIcon="done">
          <fa-icon [icon]="['fal', 'check']"></fa-icon>
        </ng-template>
        <ng-template matStepperIcon="edit">
          <fa-icon [icon]="['fal', 'pen']"></fa-icon>
        </ng-template>
        <mat-step [completed]="stepOneComplete" editable="true" #step1>
          <div class="content">
            <ng-template matStepLabel>
              <span [class.complete]="stepOneComplete" class="d-flex align-items-center">Select font and text <mat-icon class="ml-2 text-danger " matTooltip="Length- Stick to shorter text on waist bands.  Long or mutliple words (eg over 7 characters) remove stretch, look thin and aren’t recommended" matTooltipClass="tooltipFont" matTooltipPosition="below" role="img" >info</mat-icon></span>
            </ng-template>
            <ul class="fonts">
              <li class="{{ font.value }} font-item" [ngClass]="{
                  selected: nameForm.get('font').value === font.value
                }"
                (click)="setFont(font.value)" *ngFor="let font of fonts">
                {{ font.title }}
              </li>
            </ul>
            <mat-form-field>
              <input type="text" matInput placeholder="Enter text" formControlName="text" />
              <mat-error *ngIf="nameForm.get('text').invalid">{{
                getTextErrorMessage()
              }}</mat-error>
            </mat-form-field>
            <br />
            <br />
            <p>If you want a 3D name you must choose Embroidery</p>
            <ul class="name-style" [ngClass]="{ invalid: !nameForm.get('name_type').valid }">
              <li [ngClass]="{
                  selected: nameForm.get('name_type').value === name_type._id
                }"
                *ngFor="let name_type of (customSettings$ | async).name_types" (click)="setNameType(name_type)">
                {{ name_type.title }} <br />
                <div *ngIf="
                    name_type.base_price && name_type.base_price > 0;
                    else noBase
                  ">
                  <bx-price [price]="name_type.base_price"></bx-price> +
                  <bx-price [price]="name_type.price"></bx-price> per letter
                </div>
                <ng-template #noBase>
                  <bx-price [price]="name_type.price"></bx-price> per letter
                </ng-template>
              </li>
            </ul>
            <p *ngIf="nameForm.get('name_type').value == '5a91828051d62f8a45c9c60d'" class="text-danger">Please do not choose embroidery text or logos on top of sequins. We can use thick-style print material which will look great and you can choose a plain colour or glitter outline.</p>
            <button class="btn btn-danger btn-info" (click)="showExamples('name-styles')">
              <fa-icon [icon]="['fal', 'info-circle']"></fa-icon> View examples.
            </button>
          </div>
        </mat-step>
        <mat-step [completed]="stepTwoComplete" editable="true">
          <div class="content">
            <ng-template matStepLabel>
              <span [class.complete]="stepTwoComplete" class="d-flex align-items-center">Select colours <mat-icon class="ml-2 text-danger " matTooltip="Text outline colour should contrast to the base material colour. Eg dont choose a blue outline on a blue waist band." matTooltipClass="tooltipFont" matTooltipPosition="below" role="img" >info</mat-icon></span>
            </ng-template>
            <bx-custom-name-decorative [form]="nameForm" [type]="selectedType" *ngIf="selectedType" [selectedFill]="selectedFill"
              [selectedOutline]="selectedOutline" (nameColourFillSelected)="setFillColour($event)"
              (nameColourOutlineSelected)="setOutlineColour($event)"></bx-custom-name-decorative>
          </div>
        </mat-step>
        <mat-step [completed]="stepThreeComplete" editable="true" #step3>
          <div class="content">
            <ng-template matStepLabel>
              <span [class.complete]="stepThreeComplete">Select finish</span>
            </ng-template>
            <bx-custom-name-option-finish [form]="nameForm" [step]="step3" [type]="selectedType" [selectedFinish]="selectedFinish"
              [selectedCrystal]="selectedCrystal" (nameFinishSelected)="setFinish($event)" (nameColourCrystalSelected)="setCrystalColour($event)"></bx-custom-name-option-finish>
          </div>
        </mat-step>
        <mat-step [completed]="stepFourComplete" optional="true" *ngIf="selectedType && selectedType.patch">
          <div class="content">
            <ng-template matStepLabel>
              <span [class.complete]="stepFourComplete">Add contrasting patch</span>
            </ng-template>
            <bx-custom-name-option-patch [form]="nameForm" [selectedPatch]="selectedPatch" [type]="selectedType"
              (namePatchSelected)="setPatchColour($event)"></bx-custom-name-option-patch>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </bx-custom-scroll-container>
  <bx-actions (designCancel)="cancel()" (designSave)="save()" [validated]="nameForm.valid">
    <div class="options-selection" *ngIf="selectedType">
      <h5>{{ selectedType.title }}</h5>
      <h5 *ngIf="selectedFill">
        Base: {{ selectedFill.title }} {{ selectedFill.materialType.title }}
      </h5>
      <h5 *ngIf="selectedOutline">
        Outline: {{ selectedOutline.title }}
        {{ selectedOutline.materialType.title }}
      </h5>
      <h5 *ngIf="selectedFinish">Finish: {{ selectedFinish.title }}</h5>
      <h5 *ngIf="selectedCrystal">Crystals: {{ selectedCrystal.title }}</h5>
      <h5 *ngIf="selectedPatch">Patch: {{ selectedPatch.title }}</h5>
      <h5>
        <bx-price [price]="currentPrice() | async"></bx-price>
      </h5>
    </div>
  </bx-actions>
</div>
