@import 'variables';
@import 'mixins';
@import 'partial';

@font-face {
  font-family: 'oswaldcustom';
  src: url('https://cdn2.boxxerworld.com/assets/fonts/oswald-semibold.woff2')
      format('woff2'),
    url('https://cdn2.boxxerworld.com/assets/fonts/oswald-semibold.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BERRYBOLD';
  src: url('https://cdn2.boxxerworld.com/assets/fonts/BERRYBOLD.otf')
      format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'anotherdanger';
  src: url('https://cdn2.boxxerworld.com/assets/fonts/AnotherDanger.otf')
      format('opentype');
  src:url('https://cdn2.boxxerworld.com/assets/fonts/AnotherDanger.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gravtrac';
  src: url('https://cdn2.boxxerworld.com/assets/fonts/gravtrac.eot');
  src: url('https://cdn2.boxxerworld.com/assets/fonts/gravtrac.eot?#iefix') format('embedded-opentype'),
      url('https://cdn2.boxxerworld.com/assets/fonts/gravtrac.woff2') format('woff2'),
      url('https://cdn2.boxxerworld.com/assets/fonts/gravtrac.woff') format('woff'),
      url('https://cdn2.boxxerworld.com/assets/fonts/gravtrac.ttf') format('truetype'),
      url('https://cdn2.boxxerworld.com/assets/fonts/gravtrac.svg#GravtracCpRg-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'monte';
  src: url('https://cdn2.boxxerworld.com/assets/fonts/diamante-serial-bold-webfont.eot');
  src: url('https://cdn2.boxxerworld.com/assets/fonts/diamante-serial-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn2.boxxerworld.com/assets/fonts/diamante-serial-bold-webfont.woff2')
      format('woff2'),
    url('https://cdn2.boxxerworld.com/assets/fonts/diamante-serial-bold-webfont.woff')
      format('woff'),
    url('https://cdn2.boxxerworld.com/assets/fonts/diamante-serial-bold-webfont.ttf')
      format('truetype'),
    url('https://cdn2.boxxerworld.com/assets/fonts/diamante-serial-bold-webfont.svg#diamante-serialbold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'college';
  src: url('https://cdn2.boxxerworld.com/assets/fonts/college_block-webfont.eot');
  src: url('https://cdn2.boxxerworld.com/assets/fonts/college_block-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn2.boxxerworld.com/assets/fonts/college_block-webfont.woff2')
      format('woff2'),
    url('https://cdn2.boxxerworld.com/assets/fonts/college_block-webfont.woff')
      format('woff'),
    url('https://cdn2.boxxerworld.com/assets/fonts/college_block-webfont.ttf')
      format('truetype'),
    url('https://cdn2.boxxerworld.com/assets/fonts/college_block-webfont.svg#college_blockregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ballantines';
  src: url('https://cdn2.boxxerworld.com/assets/fonts/ballantines-bold-webfont.eot');
  src: url('https://cdn2.boxxerworld.com/assets/fonts/ballantines-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn2.boxxerworld.com/assets/fonts/ballantines-bold-webfont.woff2')
      format('woff2'),
    url('https://cdn2.boxxerworld.com/assets/fonts/ballantines-bold-webfont.woff')
      format('woff'),
    url('https://cdn2.boxxerworld.com/assets/fonts/ballantines-bold-webfont.ttf')
      format('truetype'),
    url('https://cdn2.boxxerworld.com/assets/fonts/ballantines-bold-webfont.svg#ballantinesbold')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.svg-text-wrapper {
  position: sticky;
  top: 0;
  background-color: $verylightgrey;
  padding: 0.5rem;
  z-index: 99;
  .btn-text {
    display: block;
    margin: 0.5rem auto;
  }
  svg {
    overflow: visible;
  }
}

.text-background {
  fill: $verylightgrey;
}

.fonts {
  @extend %button-group-select;
  li {
    @include font-size(18, 18);
  }
  li.Arial {
    font-family: Arial;
    font-weight: bold;
    line-height: 19px;
    font-size: 19px;
  }
  li.monte {
    font-family: 'monte';
  }
  li.oswaldcustom {
    font-family: "oswaldcustom";
    line-height: 19px;
    font-size: 19px;
  }
  li.BERRYBOLD {
    font-family: "BERRYBOLD";
    font-size: 25px;
    line-height: 12px;
  }
  li.anotherdanger {
    font-family: 'anotherdanger';
  }
  li.gravtrac {
    font-family: 'gravtrac';
  }
  li.college {
    font-family: 'college';
  }
  li.ballantines {
    font-family: "ballantines";
    text-transform: none;
    font-size: 30px;
    line-height: 12px;
  }
}

.name-style {
  @extend %button-group-select;
  margin-top: 1rem;
}

::ng-deep .mat-step-label {
  .complete {
    color: $green;
  }
}

::ng-deep .mat-step-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-item {
  font-size: 16px;   /* Base size for all fonts */
  line-height: 1.5;  /* Ensures consistent spacing */
  padding: 8px 0;    /* Add padding to each item */
  margin: 0;  /* Default scale */
  display: inline-block; /* Prevent scaling from affecting layout */
}
::ng-deep .tooltipFont{
  font-size: 16px;
  background: grey;
}