<div class="product-wrapper">
  <article *ngIf="product$ | async as product">
    <div class="product">
      <div class="image">
        <div bxImageWrapper [aspect_ratio]="ratio | ratio">
          <img
            alt="Boxxerworld {{ product.title }}"
            [bxLazysizes]="product.image.key"
            [crop_ratio]="ratio | ratio"
          />
        </div>
      </div>
      <div class="content" *ngIf="product">
        <h1>{{ product?.title }}</h1>
        <h4
          class="grey"
          prefix="From "
          [price]="product.price"
          [sale_price]="product.sale_price"
          bx-price-sale
        ></h4>
        <button
          [routerLink]="['/customiser', product._id]"
          class="btn btn-success"
        >
          Customise
        </button>
        <span [innerHTML]="product?.description"></span>
      </div>
    </div>
  </article>
</div>
<ng-container *ngIf="ps.isBrowser">
  <section *ngIf="(galleries$ | async)?.length != 0" class="inspriation">
    <div class="intro-header">
      <h2>Inspiration</h2>
      <p>Get ideas from other customers orders.</p>
      <button
        class="btn btn-success view-more"
        [routerLink]="[gallerySlug]"
        [queryParams]="{ product: product._id }"
        *ngIf="product$ | async as product"
      >
        View more
      </button>
    </div>
    <div
      class="flickity-wrapper"
      [bxFlkty]="{
        cellAlign: 'left',
        percentPosition: true,
        imagesLoaded: true,
        wrapAround: true,
        pageDots: false
      }"
    >
      <div
        [bxFlktyCell]
        class="carousel-cell"
        *ngFor="let item of galleries$ | async"
      >
        <a
          [routerLink]="
            ['/'].concat(item.category.slug.split('/')).concat(item.slug)
          "
          bxCard
          *ngIf="checkImage(item.images) as image"
        >
          <div bxImageWrapper [aspect_ratio]="1">
            <img [bxLazysizes]="image" [crop_ratio]="1" [sizes]="'[320, 480, 640]'" />
          </div>
          <div bxCardContent>
            <h2 bxCardTitle>{{ item.product.title }} {{ item.title }}</h2>
          </div>
        </a>
      </div>
    </div>
  </section>
</ng-container>
<ngx-json-ld [json]="jsonld.schema"></ngx-json-ld>
