<td width="100">
  <bx-image-thumb [public_id]="checkImage(gallery.images)" *ngIf="checkImage(gallery.images)"></bx-image-thumb>
</td>
<td>{{gallery.title}}</td>
<td>{{gallery.product?.title}}
  <br>
  <small>{{gallery.product?.code}}</small>
  <br>
  <small>{{gallery.design?.total | currency:'GBP':'symbol'}}</small>
  <br> <a href="https://www.boxxerworld.com/{{gallery.category.slug}}/{{gallery.slug}}" target="_blank">View Gallery</a>
</td>
<td>{{gallery.category?.title}}
  <br>
  <small *ngIf="gallery.category && gallery.category.parent">{{gallery.category?.parent.title}}</small>
</td>
<td>
  <a [routerLink]="['/orders', gallery.design.order.orderid]"
    *ngIf="gallery.design && gallery.design.order">{{gallery.design.order.orderid}}</a>
</td>
<td class="fit">
  <bx-list-edit-btn [item]="gallery" (onDeleted)="delete($event)"></bx-list-edit-btn>
</td>
