@import 'variables';
@import 'mixins';

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';
@import 'node_modules/bootstrap/scss/mixins/_grid';

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1200px
);

:host {
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: $verylightgrey;
  z-index: 10000;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.cart-container {
  @include make-container();
  @include make-container-max-widths($container-max-widths);
  margin-top: 75px;
}

.cart-header {
  background-color: white;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
    margin: 0;
  }
}

.totals {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.cart-footer {
  .btn,
  .btn-stripe {
    margin: 0 0 0.5rem;
  }
}

.btn-menu {
  margin-top: 10px;
}
