<ng-container *ngIf="order$ | async as order">
  <div class="cart-header">
    <h4>Your Cart
      <span bx-price [price]="order.total"></span>
    </h4>
    <div class="menu-icon" @fadeInAnimation>
      <button class="btn-menu menu-open" (click)="closeCart()">
        <span class="btn__hamburger__line"></span>
        <span class="btn__hamburger__line"></span>
        <span class="btn__hamburger__line"></span>
      </button>
    </div>
  </div>
  <ng-container *ngIf="(carts$ | async) as carts">
    <div class="cart-container" *ngIf="carts?.length!=0; else cartEmpty">
      <div class="cart" [@slideUpAnimation]="true">
        <bx-cart-item class="card" *ngFor="let cart of carts; trackBy: trackById" [cart]="cart"></bx-cart-item>
        <div class="row">
          <div class="cart-footer col-xs-12 col-sm-6 col-md-4 ml-auto" *ngIf="order" @fadeInAnimation>
            <div class="totals">
              <span>Subtotal</span>
              <span bx-price [price]="order.subtotal"></span>
            </div>
            <div class="totals">
              <span>Estimated Shipping</span>
              <span bx-price [price]="order.shippingprice"></span>
            </div>
            <div class="totals" *ngIf="order.discountAmount">
              <span>Discount</span>
              <span bx-price [price]="order.discountAmount"></span>
            </div>
            <div class="totals" *ngIf="order.voucher_amount">
              <span>Voucher</span>
              <span>-
                <span bx-price [price]="order.voucher_amount"></span>
              </span>
            </div>
            <div class="totals">
              <span>Total</span>
              <span bx-price [price]="order.total"></span>
            </div>
            <ng-container *ngIf="checkoutService.clubKitMinCheck(order); else clubKitWarning">
              <button [routerLink]="['/checkout/shipping']" class="btn btn-success checkout">Checkout</button>
              <div id="payment-request-button" class="btn-stripe" *ngIf="paymentBtn" #card></div>
            </ng-container>
            <ng-template #clubKitWarning><bx-club-kit-warning></bx-club-kit-warning></ng-template>
            <button class="btn" (click)="closeCart()">Continue Shopping</button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #cartEmpty>
      <div class="cart-container">
        <h1 class="text-center">Your cart is empty :(</h1>
      </div>
    </ng-template>
  </ng-container>
</ng-container>