@import 'variables';
@import 'product-layout';

:host {
  background-color: white;
}

.cart-form {
  margin-top: 1em;
}

.image-thumbs {
  margin-top: 5px;
  display: flex;
}

.product-thumb {
  cursor: pointer;
  display: block;
}

.customiser {
  margin-bottom: 1rem;
  h4 {
    margin: 0.5rem 0;
  }
  .cancel {
    color: $red;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}
