<article *ngIf="product$ | async as product">
  <div class="product">
    <div class="image">
      <div>
        <div bxImageWrapper [aspect_ratio]="0.8656280428" *ngIf="selectedVariation.image; else mainImage">
          <img alt="Boxxerworld {{ product.title }}" [bxLazysizes]="selectedVariation.image.key"
            [crop_ratio]="0.8656280428" />
        </div>
        <ng-template #mainImage>
          <div bxImageWrapper [aspect_ratio]="product.product_type.aspect_ratio | ratio">
            <img alt="Boxxerworld {{ product.title }}"
              [bxLazysizes]="product.images.length ? product.images[0].key : product.image.key"
              [crop_ratio]="product.product_type.aspect_ratio | ratio" />
          </div>
        </ng-template>
      </div>
      <div class="image-thumbs" *ngIf="product.attributes">
        <div class="product-thumb" *ngFor="let variation of variationImages">
          <img [bxLazysizes]="variation.image.key" [crop_ratio]="1" (click)="changeImage(variation)"
            *ngIf="variation.image" />
        </div>
      </div>
    </div>
    <div class="content">
      <h1>{{ product.title }}</h1>
      <h4 class="price" [price]="selectedVariation.price" bx-price-sale></h4>
      <form class="cart-form" [formGroup]="addToCartForm" (ngSubmit)="addToCart(addToCartForm.value)">
        <div formArrayName="attributes" *ngIf="
            product.attributes && product.attributes.length;
            else noAttribute
          ">
          <ng-container *ngIf="product.club_kit; else notClubKitVariations">
            <div *ngFor="
              let attribute of addToCartForm.get('attributes')['controls'];
              let i = index
            " [formGroupName]="i">
              <h3>{{attribute.get('title').value}}</h3>
              <div formArrayName="kit_variations">
                <div *ngFor="
              let kit_variation of attribute.get('kit_variations')['controls'];
              let vi = index
            " [formGroupName]="vi">
                  <mat-form-field>
                    <input type="number" matInput
                      [placeholder]="kit_variation.get('title').value + ' - ' + (kit_variation.get('price').value | currConvert: 'GBP':currency | currency: currency:'symbol')"
                      formControlName="qty" required>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #notClubKitVariations>
            <div *ngFor="
              let attribute of addToCartForm.get('attributes')['controls'];
              let i = index
            " [formGroupName]="i">
              <mat-form-field>
                <mat-select [placeholder]="attribute.get('title').value" formControlName="term" required>
                  <mat-option *ngFor="
                    let option of getAtrributeOptions(
                      attribute.get('_id').value
                    )
                  " [value]="option.term._id">
                    {{ option.term.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-template>
        </div>
        <ng-template #noAttribute>
          <mat-form-field>
            <mat-select placeholder="Size" formControlName="product_variation" required>
              <mat-option *ngFor="let variation of product.variations" [value]="variation._id">
                {{ variation.option_name }}
                <bx-price [price]="variation.price" [sale_price]="variation.sale_price"></bx-price>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
        <div formGroupName="normal_custom" *ngIf="!product.club_kit">
          <div class="customiser" *ngIf="customise">
            <h2>Custom Options</h2>
            <p>
              Our ready made products can be customised with some basic options.
              If you would like to fully customise please check out our Custom
              Fightwear range.
            </p>
            <h4>Add text</h4>
            <div formArrayName="names">
              <div *ngFor="
                  let name of addToCartForm.get('normal_custom').get('names')[
                    'controls'
                  ];
                  let i = index
                " [formGroupName]="i">
                <mat-form-field>
                  <mat-label>{{ name.value.title }} -
                    <bx-price [price]="name.value.price"></bx-price>
                  </mat-label>
                  <input matInput placeholder="Enter Text" formControlName="text" />
                </mat-form-field>
              </div>
            </div>
            <div class="name-options" *ngIf="hasNames">
              <mat-form-field>
                <mat-select placeholder="Choose Font" formControlName="name_font" [disableControl]="!hasNames">
                  <mat-option value="Block">Block font</mat-option>
                  <mat-option value="Cursive">Cursive (fancy) font</mat-option>
                </mat-select>
                <mat-hint>Select a font</mat-hint>
                <mat-error *ngIf="
                    addToCartForm
                      .get('normal_custom')
                      .get('name_font')
                      .hasError('required')
                  ">You must select a font if you have added names.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Choose Colour" formControlName="name_colour" [disableControl]="!hasNames">
                  <mat-option *ngFor="let colour of product.custom.data.materials" [value]="colour.title">
                    <svg style="vertical-align: middle" viewBox="0 0 100 100" width="35" height="35">
                      <rect [attr.fill]="colour.hex" width="100%" height="100%" x="0" y="0" />
                    </svg>
                    <span>{{ colour.title }}</span>
                  </mat-option>
                </mat-select>
                <mat-hint>Select a colour</mat-hint>
                <mat-error *ngIf="
                    addToCartForm
                      .get('normal_custom')
                      .get('name_colour')
                      .hasError('required')
                  ">You must select a colour if you have added names.</mat-error>
              </mat-form-field>
            </div>
            <h4>Add flag</h4>
            <div formArrayName="flags">
              <div *ngFor="
                  let flag of addToCartForm.get('normal_custom').get('flags')[
                    'controls'
                  ];
                  let i = index
                " [formGroupName]="i">
                <mat-form-field>
                  <mat-label>Choose Flag {{ flag.value.title }} -
                    <bx-price [price]="flag.value.price"></bx-price>
                  </mat-label>
                  <mat-select placeholder="Choose Flag" formControlName="country">
                    <mat-option *ngFor="let flag of product.custom.data.flags" [value]="flag.title">
                      <img style="vertical-align: middle; margin-right: 5px" aria-hidden src="https://img.boxxerworld.com/{{
                          flag.image.key
                        }}?crop=smart&width=45&height=45" height="45" />
                      <span>{{ flag.title }}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <button class="cancel" (click)="showCustomiser($event)" *ngIf="customise">
              Clear Customiser
            </button>
          </div>
          <h4>About you</h4>
          <p>
            To help us make sure the size you've selected is correct, please
            enter your height and weight below.
          </p>
          <mat-form-field>
            <mat-label>Enter height</mat-label>
            <input matInput placeholder="Enter height" formControlName="height" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter weight</mat-label>
            <input matInput placeholder="Enter weight" formControlName="weight" />
          </mat-form-field>
        </div>
        <ng-container *ngIf="product.club_kit; else normalAddToCart">
          <bx-club-kit-warning *ngIf="!clubKitQtyCheck()"></bx-club-kit-warning>
          <button class="btn btn-success" [disabled]="!addToCartForm.valid || !clubKitQtyCheck()">
            Add to cart
          </button>
        </ng-container>
        <ng-template #normalAddToCart>
          <button class="btn btn-success" [disabled]="!addToCartForm.valid">
            Add to cart
          </button>
        </ng-template>
        <button class="btn" (click)="showCustomiser($event)" *ngIf="!customise && !product.club_kit">
          Customise
        </button>
      </form>
      <span [innerHTML]="product.description"></span>

      <ng-container *ngIf="product.colours">
        <h4>Colours</h4>
        <span [innerHTML]="product.colours"></span>
      </ng-container>
      <ng-container *ngIf="product.fabrics">
        <h4>Fabrics</h4>
        <span [innerHTML]="product.fabrics"></span>
      </ng-container>
    </div>
  </div>
</article>
<ngx-json-ld [json]="jsonld.schema"></ngx-json-ld>