name: Deploy to DigitalOcean

on:
  push:
    branches:
      - skye-athletic

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '10.13.0'

    - name: Install dependencies
      run: npm install

    - name: Build project
      run: npm run build admin --prod

    - name: Deploy to DigitalOcean
      uses: easingthemes/ssh-deploy@v2.1.5
      env:
        SSH_PRIVATE_KEY: |
          -----BEGIN OPENSSH PRIVATE KEY-----
          b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABlwAAAAdzc2gtcn
          NhAAAAAwEAAQAAAYEA2mBtBEjuab5CklFjYDouSpA46tkGM3E9rSuGxzaJBL/Y6MlYMa6P
          uhM0cI/jEOXZoW60PYWo4hmHaZxIgSvNREr5+vN8E54GLrgG5Ke11eAIv2SPCCi0zXNj4N
          Ayi5P2OaItXyYD21a0KqZgMi3eBxkgs8UTZ1onaGheOiKkMn2olQhbT7FnNuphWV7GTOFQ
          9M0rtwu3jTBj3AgXoeBUSPASrPghSoyn6J54ivV/iQ0cNDgdUlNTeHBKL2gGpPeTUX7MsL
          eOOT6YTEWzEEntFKt95wXocZRb3smX2MBJEuYLbfc6KDnCTdAj5vz9t2WsRyP9gZuKCxvQ
          CSDPsSb8UGo8Un2WPlbpORG4H3fyhMb+Fj4FhWVo2uTlFcvlv8JYsyrQtxOOROletrAZgR
          zOa/Omog8JMD6mkqN/wtuNE1wxLlPh1TldqEbhUdwQMyqaM/5w/iAie9UO0Mj1iNvAoDvm
          aDMuGjRmZrwAragxCBqtUhlla7emwdfFaYgDsAxVAAAFmH0zVFF9M1RRAAAAB3NzaC1yc2
          EAAAGBANpgbQRI7mm+QpJRY2A6LkqQOOrZBjNxPa0rhsc2iQS/2OjJWDGuj7oTNHCP4xDl
          2aFutD2FqOIZh2mcSIErzURK+frzfBOeBi64BuSntdXgCL9kjwgotM1zY+DQMouT9jmiLV
          8mA9tWtCqmYDIt3gcZILPFE2daJ2hoXjoipDJ9qJUIW0+xZzbqYVlexkzhUPTNK7cLt40w
          Y9wIF6HgVEjwEqz4IUqMp+ieeIr1f4kNHDQ4HVJTU3hwSi9oBqT3k1F+zLC3jjk+mExFsx
          BJ7RSrfecF6HGUW97Jl9jASRLmC233Oig5wk3QI+b8/bdlrEcj/YGbigsb0Akgz7Em/FBq
          PFJ9lj5W6TkRuB938oTG/hY+BYVlaNrk5RXL5b/CWLMq0LcTjkTpXrawGYEczmvzpqIPCT
          A+ppKjf8LbjRNcMS5T4dU5XahG4VHcEDMqmjP+cP4gInvVDtDI9YjbwKA75mgzLho0Zma8
          AK2oMQgarVIZZWu3psHXxWmIA7AMVQAAAAMBAAEAAAGAdjTp7f7YZw7hFDjQFR+JPT1SQf
          WWALSUkS9VdnJTuulqLaAHiGUYUb3hjeilHdl9c3/sOr0mDLWK8iTxrlIae5QmOqwgBrJs
          YE+nE5CgwhPSSF/TeLQoImoKr3+jTKCcENhzvORkBA+r2MZUnfTsEWWNqSHNfg1z9XVBRD
          DKNraEUZ/DZaD+4OAAMBM4Phdc7hY9SokiI2AFPe53dF1s4kppoY1y39rBbQ6S6402KuaY
          1L9nR8/pB/Gohn7F0fhcms5NiZJ/2j5E/GcWR3ggnSqEmC7ub7VWO0RT/N2gbqQf+tuX5G
          bWwweXI7BglsOd6tYvnepxftF0ywpARLsXD+P8THysBl2wGzQkpjOa9dt/B8byfyIqxMHi
          l/8fX5hGkMX68Pg1mmWmqFqkBjR7Okplk/7Vy8JpKFF7ABMYXdKwROPtALF/UmQNeGSnDn
          UB0/aoGbev0Ygml+vefRZ8oHOh76iidDHQ72GtoKmGrlgFIIPB2pnvKXLU1ZTKxTSBAAAA
          wQCxA1pwWYAkeBVAyWygXniAOoVodv6k7kS2LeKnQdxmKkRf3gUhE6bT1jC8+yRGYK1K01
          d9Br/0rqah8FM9RO6aV7G1I55qVibnYG4z7mKJze99NdMNXBgFSKDWRRkE2w8C536vn1th
          xXuxf8RYUGnlZORhW1nxlCY/TTuOS3ZF4/4Y+5GUXydXl/je5KmolsSJjiA49Z5CcfEKv/
          2xxUn2exeaUFHQt2Oti0171g18bzM+34OepA5ffKt7tuPCh6UAAADBAPm5/tK1TOYmQKGO
          oRm+4CgJQRG8RZWzt69elGhubQRRgf7bz3jxz9+h0fF/T86x2jo9dj207pxqE44aFhMC/h
          6R3bMvqurmz4OjP9zAkDZ9sq3bm+LoEdrUBNt3vosL7GMKYdZuzNp/P2shcORxVV2dvVjW
          2kjv+GFXhqK5xZWLPLAGV/hQyozq5ynSOoTi9wxCtcWi5yCU4fHqjeSp31oBMb/SKydrTg
          R8PRp/xcHxFC4FT5xyXJ/+nr1AZP7g9QAAAMEA39zRVPwIF/TLBccXvx5g/iHnX0DT51/y
          BgzEHSd0RPzLT+vOGN9jXCi/dwyvCKIfAJTZt/B0Wp5mNJ20C/4UafsX5DTPU4Ma2YTIpf
          Qor+fhwift6sOG2jf6j6gpyMBWUw12oNQMH0as1iqwFP+xF7SC56MSw0DCvU3EiTViBeFO
          f6wuhWgaEzdvQL01T6E2OYDyTOQvA9FPQYcBMspDMYQ6869FospUDBEnS4yHazTHt/bFDI
          RxCj5dlEYPAeHhAAAAIHByaW5jZSBwYXJiaGFrYXJAREVTS1RPUC1NNDFRQ0NBAQI=
          -----END OPENSSH PRIVATE KEY-----

        REMOTE_HOST: 206.189.118.244
        REMOTE_USER: root
        ARGS: "-avzr --delete"
        SOURCE: dist/admin/
        TARGET: /var/www/admin
      # with:
      #   args: "rsync -r --delete-after --exclude='*.map' dist/admin/* /var/www/admin"
