@import 'variables';

:host {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  // margin-bottom: 48px;
  height: 100%;
}

.scroll-content {
  min-height: 100%;
}

.scroll-arrow {
  background-color: $black;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: sticky;
  bottom: 10px;
  text-align: center;
  left: 50%;
  margin-left: calc(50% - 22px);
  margin-right: calc(50% - 22px);
  line-height: 44px;
  .icon {
    margin-top: 13px;
    font-size: 1.3rem;
    color: $lightgrey;
    display: block;
  }
}
