<tr>
  <td class="center">
    <div *ngIf="item.custom_product; else listingImage">
      <img
        [bxLazysizes]="item.custom_design.image.key"
        *ngIf="item | hasKey: 'custom_design.image.key'"
      />
    </div>
    <ng-template #listingImage>
      <img
        [bxLazysizes]="getReadyMadeImage(item.product_variation)"
        *ngIf="getReadyMadeImage(item.product_variation)"
      />
    </ng-template>
  </td>
  <td class="left">
    <ng-container *ngIf="item?.custom_product"
      >{{ item?.custom_product.title }} <br />{{ item?.custom_product.code }}
    </ng-container>
    <ng-container *ngIf="!item?.custom_product && item.product_variation"
      >{{ item?.product_variation.title }} <br />{{
        item?.product_variation.sku
      }}
    </ng-container>
    <ng-container *ngIf="item.code === 'CUSTOM'"
      >{{ item.title }} <br />{{ item.code }}
    </ng-container>
    <br />Price: {{ item.original_price | currency: 'GBP':'symbol' }}
    <ng-container *ngIf="item.sale_price && item.sale_price > 0">
      <br />Sale Price: {{ item.sale_price | currency: 'GBP':'symbol' }}
    </ng-container>
  </td>
  <td class="center">{{ item?.qty }}</td>
  <td class="right">{{ item?.total | currency: 'GBP':'symbol' }}</td>
  <td>
    <div class="btn-group" dropdown container="body" placement="bottom right">
      <button
        class="btn btn-primary"
        [routerLink]="['../job-card', order.orderid, item._id]"
        type="button"
      >
        Job Card
      </button>
      <button
        class="btn btn-primary dropdown-toggle dropdown-toggle-split"
        dropdownToggle
        type="button"
        *ngIf="item.code === 'CUSTOM'"
      >
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem" *ngIf="item.code === 'CUSTOM'">
          <button class="dropdown-item" (click)="openEditLineItem()">
            Edit
          </button>
        </li>
        <!-- <li class="divider dropdown-divider "></li>
        <li role="menuitem">
          <button class="dropdown-item" (click)="removeLineItem(item._id)">Delete</button>
        </li> -->
      </ul>
    </div>
  </td>
</tr>
